<a href="https://colab.research.google.com/github/areias/healthcare_fraud/blob/main/Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

In [6]:
train_ben=pd.read_csv('Train_Beneficiarydata-1542865627584.csv')
train_in=pd.read_csv('Train_Inpatientdata-1542865627584.csv')
train_out=pd.read_csv('Train_Outpatientdata-1542865627584.csv')
train=pd.read_csv('Train-1542865627584.csv')
test_ben=pd.read_csv('Test_Beneficiarydata-1542969243754.csv')
test_in=pd.read_csv('Test_Inpatientdata-1542969243754.csv')
test_out=pd.read_csv('Test_Outpatientdata-1542969243754.csv')
test=pd.read_csv('Test-1542969243754.csv')

**Merging the data**

**Train**

In [7]:
train_in['Claim_type']='Inpatient'
train_out['Claim_type']='Outpatient'

In [8]:
final_train=pd.concat([train_in, train_out])
final_train=pd.merge(train_ben, final_train, on='BeneID')
final_train=pd.merge(final_train, train, on='Provider')

**Test**

In [14]:
test_in['Claim_type']='Inpatient'
test_out['Claim_type']='Outpatient'

In [15]:
final_test=pd.concat([test_in, test_out])
final_test=pd.merge(test_ben, final_test, on='BeneID')
final_test=pd.merge(final_test, test, on='Provider')

In [12]:
final_train.head()

      BeneID         DOB  DOD  ...  ClmProcedureCode_6  Claim_type PotentialFraud
0  BENE11001  1943-01-01  NaN  ...                 NaN   Inpatient            Yes
1  BENE12511  1944-09-01  NaN  ...                 NaN  Outpatient            Yes
2  BENE14577  1935-10-01  NaN  ...                 NaN  Outpatient            Yes
3  BENE15074  1932-06-01  NaN  ...                 NaN  Outpatient            Yes
4  BENE16973  1932-05-01  NaN  ...                 NaN  Outpatient            Yes

[5 rows x 56 columns]

In [11]:
final_train.shape

(558211, 56)

In [9]:
final_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 558211 entries, 0 to 558210
Data columns (total 56 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   BeneID                           558211 non-null  object
 1   DOB                              558211 non-null  object
 2   DOD                              4131 non-null    object
 3   Gender                           558211 non-null  int64
 4   Race                             558211 non-null  int64
 5   RenalDiseaseIndicator            558211 non-null  object
 6   State                            558211 non-null  int64
 7   County                           558211 non-null  int64
 8   NoOfMonths_PartACov              558211 non-null  int64
 9   NoOfMonths_PartBCov              558211 non-null  int64
 10  ChronicCond_Alzheimer            558211 non-null  int64
 11  ChronicCond_Heartfailure         558211 non-null  int64
 12  ChronicCond_KidneyDisease        558211 non-null  int64
 13  ChronicCond_Cancer               558211 non-null  int64
 14  ChronicCond_ObstrPulmonary       558211 non-null  int64
 15  ChronicCond_Depression           558211 non-null  int64
 16  ChronicCond_Diabetes             558211 non-null  int64
 17  ChronicCond_IschemicHeart        558211 non-null  int64
 18  ChronicCond_Osteoporasis         558211 non-null  int64
 19  ChronicCond_rheumatoidarthritis  558211 non-null  int64
 20  ChronicCond_stroke               558211 non-null  int64
 21  IPAnnualReimbursementAmt         558211 non-null  int64
 22  IPAnnualDeductibleAmt            558211 non-null  int64
 23  OPAnnualReimbursementAmt         558211 non-null  int64
 24  OPAnnualDeductibleAmt            558211 non-null  int64
 25  ClaimID                          558211 non-null  object
 26  ClaimStartDt                     558211 non-null  object
 27  ClaimEndDt                       558211 non-null  object
 28  Provider                         558211 non-null  object
 29  InscClaimAmtReimbursed           558211 non-null  int64
 30  AttendingPhysician               556703 non-null  object
 31  OperatingPhysician               114447 non-null  object
 32  OtherPhysician                   199736 non-null  object
 33  AdmissionDt                      40474 non-null   object
 34  ClmAdmitDiagnosisCode            145899 non-null  object
 35  DeductibleAmtPaid                557312 non-null  float64
 36  DischargeDt                      40474 non-null   object
 37  DiagnosisGroupCode               40474 non-null   object
 38  ClmDiagnosisCode_1               547758 non-null  object
 39  ClmDiagnosisCode_2               362605 non-null  object
 40  ClmDiagnosisCode_3               243055 non-null  object
 41  ClmDiagnosisCode_4               164536 non-null  object
 42  ClmDiagnosisCode_5               111924 non-null  object
 43  ClmDiagnosisCode_6               84392 non-null   object
 44  ClmDiagnosisCode_7               66177 non-null   object
 45  ClmDiagnosisCode_8               53444 non-null   object
 46  ClmDiagnosisCode_9               41815 non-null   object
 47  ClmDiagnosisCode_10              5010 non-null    object
 48  ClmProcedureCode_1               23310 non-null   float64
 49  ClmProcedureCode_2               5490 non-null    float64
 50  ClmProcedureCode_3               969 non-null     float64
 51  ClmProcedureCode_4               118 non-null     float64
 52  ClmProcedureCode_5               9 non-null       float64
 53  ClmProcedureCode_6               0 non-null       float64
 54  Claim_type                       558211 non-null  object
 55  PotentialFraud                   558211 non-null  object
dtypes: float64(7), int64(22), object(27)
memory usage: 242.8+ MB

In [17]:
final_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 135392 entries, 0 to 135391
Data columns (total 55 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   BeneID                           135392 non-null  object
 1   DOB                              135392 non-null  object
 2   DOD                              1040 non-null    object
 3   Gender                           135392 non-null  int64
 4   Race                             135392 non-null  int64
 5   RenalDiseaseIndicator            135392 non-null  object
 6   State                            135392 non-null  int64
 7   County                           135392 non-null  int64
 8   NoOfMonths_PartACov              135392 non-null  int64
 9   NoOfMonths_PartBCov              135392 non-null  int64
 10  ChronicCond_Alzheimer            135392 non-null  int64
 11  ChronicCond_Heartfailure         135392 non-null  int64
 12  ChronicCond_KidneyDisease        135392 non-null  int64
 13  ChronicCond_Cancer               135392 non-null  int64
 14  ChronicCond_ObstrPulmonary       135392 non-null  int64
 15  ChronicCond_Depression           135392 non-null  int64
 16  ChronicCond_Diabetes             135392 non-null  int64
 17  ChronicCond_IschemicHeart        135392 non-null  int64
 18  ChronicCond_Osteoporasis         135392 non-null  int64
 19  ChronicCond_rheumatoidarthritis  135392 non-null  int64
 20  ChronicCond_stroke               135392 non-null  int64
 21  IPAnnualReimbursementAmt         135392 non-null  int64
 22  IPAnnualDeductibleAmt            135392 non-null  int64
 23  OPAnnualReimbursementAmt         135392 non-null  int64
 24  OPAnnualDeductibleAmt            135392 non-null  int64
 25  ClaimID                          135392 non-null  object
 26  ClaimStartDt                     135392 non-null  object
 27  ClaimEndDt                       135392 non-null  object
 28  Provider                         135392 non-null  object
 29  InscClaimAmtReimbursed           135392 non-null  int64
 30  AttendingPhysician               135045 non-null  object
 31  OperatingPhysician               27193 non-null   object
 32  OtherPhysician                   48632 non-null   object
 33  AdmissionDt                      9551 non-null    object
 34  ClmAdmitDiagnosisCode            35356 non-null   object
 35  DeductibleAmtPaid                135196 non-null  float64
 36  DischargeDt                      9551 non-null    object
 37  DiagnosisGroupCode               9551 non-null    object
 38  ClmDiagnosisCode_1               132814 non-null  object
 39  ClmDiagnosisCode_2               87607 non-null   object
 40  ClmDiagnosisCode_3               58648 non-null   object
 41  ClmDiagnosisCode_4               39617 non-null   object
 42  ClmDiagnosisCode_5               26798 non-null   object
 43  ClmDiagnosisCode_6               20160 non-null   object
 44  ClmDiagnosisCode_7               15785 non-null   object
 45  ClmDiagnosisCode_8               12722 non-null   object
 46  ClmDiagnosisCode_9               9876 non-null    object
 47  ClmDiagnosisCode_10              1150 non-null    object
 48  ClmProcedureCode_1               5467 non-null    float64
 49  ClmProcedureCode_2               1263 non-null    float64
 50  ClmProcedureCode_3               225 non-null     float64
 51  ClmProcedureCode_4               29 non-null      float64
 52  ClmProcedureCode_5               2 non-null       float64
 53  ClmProcedureCode_6               0 non-null       float64
 54  Claim_type                       135392 non-null  object
dtypes: float64(7), int64(22), object(26)
memory usage: 57.8+ MB

**Usage of the date variables: **

In [18]:
# Convert the column Date into Datetime64 datatype
final_train['ClaimStartDt'] = pd.to_datetime(final_train['ClaimStartDt'], format = '%Y-%m-%d')
final_train['ClaimEndDt'] = pd.to_datetime(final_train['ClaimEndDt'], format = '%Y-%m-%d')
final_test['ClaimStartDt'] = pd.to_datetime(final_test['ClaimStartDt'], format = '%Y-%m-%d')
final_test['ClaimEndDt'] = pd.to_datetime(final_test['ClaimEndDt'], format = '%Y-%m-%d')