## Health Insurance Fraud

![](schema_draft_3.png)

In [1]:
from py2neo import Graph, Node
db = Graph(scheme="bolt", host="localhost", port=7687, secure=False, 
                auth=('neo4j', 'test'))
#db.delete_all()

In [2]:
import pandas as pd

In [3]:
%ls data

 Le volume dans le lecteur C nâ€™a pas de nom.
 Le numÃ©ro de sÃ©rie du volume est EE44-8BAE

 RÃ©pertoire de C:\Users\LENOVO\Documents\GitHub\healthcare_fraud\data

14/12/2021  10:13    <DIR>          .
14/12/2021  10:13    <DIR>          ..
23/10/2019  08:12         5Â 325Â 982 Test_Beneficiarydata-1542969243754.csv
23/10/2019  08:12         2Â 020Â 712 Test_Inpatientdata-1542969243754.csv
23/10/2019  08:12        18Â 806Â 934 Test_Outpatientdata-1542969243754.csv
23/10/2019  08:12            14Â 894 Test-1542969243754.csv
23/10/2019  08:12        11Â 444Â 821 Train_Beneficiarydata-1542865627584.csv
23/10/2019  08:12         8Â 572Â 555 Train_Inpatientdata-1542865627584.csv
23/10/2019  08:12        77Â 391Â 090 Train_Outpatientdata-1542865627584.csv
23/10/2019  08:12            87Â 094 Train-1542865627584.csv
               8 fichier(s)      123Â 664Â 082 octets
               2 RÃ©p(s)  391Â 841Â 538Â 048 octets libres

In [4]:
df=pd.read_csv("data/Train_Beneficiarydata-1542865627584.csv")

In [5]:
df.columns

Index(['BeneID', 'DOB', 'DOD', 'Gender', 'Race', 'RenalDiseaseIndicator',
       'State', 'County', 'NoOfMonths_PartACov', 'NoOfMonths_PartBCov',
       'ChronicCond_Alzheimer', 'ChronicCond_Heartfailure',
       'ChronicCond_KidneyDisease', 'ChronicCond_Cancer',
       'ChronicCond_ObstrPulmonary', 'ChronicCond_Depression',
       'ChronicCond_Diabetes', 'ChronicCond_IschemicHeart',
       'ChronicCond_Osteoporasis', 'ChronicCond_rheumatoidarthritis',
       'ChronicCond_stroke', 'IPAnnualReimbursementAmt',
       'IPAnnualDeductibleAmt', 'OPAnnualReimbursementAmt',
       'OPAnnualDeductibleAmt'],
      dtype='object')

## Beneficiary nodes

In [7]:
beneficiaries = list(df.BeneID.unique())
beneficiaries[:3]

['BENE11001', 'BENE11002', 'BENE11003']

In [8]:
len(beneficiaries)

138556

In [9]:
bens = [{'idx': x} for x in beneficiaries]

In [10]:
bens[:3]

[{'idx': 'BENE11001'}, {'idx': 'BENE11002'}, {'idx': 'BENE11003'}]

In [11]:
# set constraint on beneficiary node that idx is unique
query="""CREATE CONSTRAINT ON (n:Beneficiary) ASSERT n.idx IS UNIQUE"""

In [12]:
db.run(query)

(No data)

In [13]:
query = """
    UNWIND $bens AS ben
    MERGE (b:Beneficiary {idx: ben.idx})
        """
db.run(query, {"bens":bens})

(No data)

## Provider nodes

In [8]:
df_in = pd.read_csv("data/Train_Inpatientdata-1542865627584.csv")

In [9]:
df_in.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'AdmissionDt', 'ClmAdmitDiagnosisCode',
       'DeductibleAmtPaid', 'DischargeDt', 'DiagnosisGroupCode',
       'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3',
       'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6',
       'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9',
       'ClmDiagnosisCode_10', 'ClmProcedureCode_1', 'ClmProcedureCode_2',
       'ClmProcedureCode_3', 'ClmProcedureCode_4', 'ClmProcedureCode_5',
       'ClmProcedureCode_6'],
      dtype='object')

In [10]:
df_out = pd.read_csv("data/Train_Outpatientdata-1542865627584.csv")

In [11]:
df_out.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2',
       'ClmDiagnosisCode_3', 'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5',
       'ClmDiagnosisCode_6', 'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8',
       'ClmDiagnosisCode_9', 'ClmDiagnosisCode_10', 'ClmProcedureCode_1',
       'ClmProcedureCode_2', 'ClmProcedureCode_3', 'ClmProcedureCode_4',
       'ClmProcedureCode_5', 'ClmProcedureCode_6', 'DeductibleAmtPaid',
       'ClmAdmitDiagnosisCode'],
      dtype='object')

In [12]:
providers = list(set(list(df_in.Provider.unique()) + list(df_out.Provider.unique())))

In [19]:
len(providers)

5410

In [20]:
providers[:4]

['PRV54572', 'PRV53390', 'PRV56999', 'PRV51934']

In [21]:
provs=[{"idx": x} for x in providers]

In [22]:
# set constraint on beneficiary node that idx is unique
query="""CREATE CONSTRAINT ON (n:Provider) ASSERT n.idx IS UNIQUE"""

In [23]:
db.run(query)

(No data)

In [24]:
query = """
    UNWIND $provs AS prov
    MERGE (b:Provider {idx: prov.idx})
        """
db.run(query, {"provs":provs})

(No data)

## (Provider)-[:HAS_BENEFICIARY]->(Beneficiary)

In [12]:
df_in["type"]="Inpatient"

In [13]:
df_out['type']="Outpatient"

In [14]:
df_all=df_in.append(df_out)

In [15]:
len(df_all)

558211

In [29]:
df_all.type.value_counts()

Outpatient    517737
Inpatient      40474
Name: type, dtype: int64

In [30]:
len(df_in)

40474

In [31]:
len(df_out)

517737

In [32]:
grp=df_all.groupby(['Provider','BeneID'])['ClaimID'].count()

In [33]:
grp=grp.reset_index()

In [34]:
grp.head()

   Provider      BeneID  ClaimID
0  PRV51001  BENE102690        1
1  PRV51001  BENE106078        1
2  PRV51001   BENE11727        1
3  PRV51001  BENE123416        1
4  PRV51001  BENE126477        1

In [35]:
grp['ClaimID'].value_counts()

1     274312
2      46849
3      18330
4       9347
5       5303
6       3255
7       2105
8       1350
9        888
10       566
11       379
12       222
13       143
14        92
15        61
16        41
17        26
18        15
19         8
20         3
21         2
23         2
28         1
Name: ClaimID, dtype: int64

In [36]:
rels = [{'origin':x[1]['Provider'],
       'target': x[1]['BeneID']} for x in grp.iterrows()]

In [37]:
len(rels)

363300

In [38]:
query = """
    UNWIND $rels AS rel
    MATCH (e1:Provider {idx: rel.origin})
    MATCH (e2:Beneficiary {idx: rel.target}) 
    MERGE (e1)-[m:HAS_BENEFICIARY]->(e2)"""

db.run(query, {"rels":rels})

(No data)

## (Physician)-[:HAS_TREATED]->(Beneficiary)

In [17]:
grp=df_all.groupby(['AttendingPhysician','BeneID'])['ClaimID'].count()

In [18]:
grp=grp.reset_index()

In [21]:
grp.head()

  AttendingPhysician      BeneID  ClaimID
0          PHY311001   BENE91984        1
1          PHY311001   BENE93416        1
2          PHY311002   BENE52795        1
3          PHY311004  BENE122648        1
4          PHY311004   BENE21205        1

In [22]:
rels = [{'origin':x[1]['AttendingPhysician'],
       'target': x[1]['BeneID']} for x in grp.iterrows()]

In [23]:
len(rels)

491115

In [25]:
query = """
    CALL apoc.periodic.iterate(
    'UNWIND $rels AS rel
    MATCH (e1:Physician {idx: rel.origin})
    MATCH (e2:Beneficiary {idx: rel.target}) 
    MERGE (e1)-[m:HAS_TREATED]->(e2) RETURN m', 
    'WITH m RETURN count(m)',
    {batchSize:100, parallel:false, params: {rels:$rels}})
    """

In [27]:
i=0
while i < len(df_all):
    db.run(query, {"rels":rels[i:i+5000]}).to_table()
    i=i+5000

## Race nodes

In [39]:
races= list(df.Race.unique())

In [40]:
races

[1, 2, 3, 5]

In [41]:
rs = [{"race": int(x),
     "idx": i}  for (i,x) in enumerate(races)]

In [42]:
rs

[{'race': 1, 'idx': 0},
 {'race': 2, 'idx': 1},
 {'race': 3, 'idx': 2},
 {'race': 5, 'idx': 3}]

In [43]:
query=""" CREATE CONSTRAINT ON (r:Race) ASSERT r.idx is UNIQUE """

In [44]:
db.run(query)

(No data)

In [45]:
query = """
    UNWIND $rs AS r
    MERGE (b:Race {idx: r.idx, race: r.race})
        """
db.run(query, {"rs":rs})

(No data)

In [46]:
query = """
    MATCH (r:Race)
    RETURN * """
db.run(query).to_table()

 r
----------------------------------
 (_143966:Race {idx: 0, race: 1})
 (_143967:Race {idx: 1, race: 2})
 (_143968:Race {idx: 2, race: 3})
 (_143969:Race {idx: 3, race: 5})

## (Beneficiary)-[:HAS_RACE]->(Race)

In [47]:
grp=df[['BeneID','Race']]

In [48]:
grp

            BeneID  Race
0        BENE11001     1
1        BENE11002     1
2        BENE11003     1
3        BENE11004     1
4        BENE11005     1
...            ...   ...
138551  BENE159194     1
138552  BENE159195     1
138553  BENE159196     1
138554  BENE159197     1
138555  BENE159198     1

[138556 rows x 2 columns]

In [49]:
rels = [{'origin': x[1]['BeneID'],
       'target':  x[1]['Race']} for x in grp.iterrows()]

In [50]:
query = """
    UNWIND $rels AS rel
    MATCH (e1:Beneficiary {idx: rel.origin})
    MATCH (e2:Race {idx: rel.target}) 
    MERGE (e1)-[m:HAS_RACE]->(e2)"""

db.run(query, {"rels":rels})

(No data)

## Gender

In [51]:
genders=list(df.Gender.unique())

In [52]:
genders

[1, 2]

In [53]:
gs = [{"gender": int(x),
     "idx" : i} for (i,x) in enumerate(genders)]

In [54]:
gs

[{'gender': 1, 'idx': 0}, {'gender': 2, 'idx': 1}]

In [55]:
query="""CREATE CONSTRAINT ON (n:Gender) ASSERT n.idx IS UNIQUE"""

In [56]:
db.run(query)

(No data)

In [57]:
query = """
    UNWIND $gs AS g
    MERGE (b:Gender {idx: g.idx, gender: g.gender})
        """
db.run(query, {"gs":gs})

(No data)

## (Beneficiary)-[:HAS_GENDER]->(Gender)

In [58]:
grp=df[['BeneID','Gender']]

In [59]:
grp

            BeneID  Gender
0        BENE11001       1
1        BENE11002       2
2        BENE11003       1
3        BENE11004       1
4        BENE11005       1
...            ...     ...
138551  BENE159194       1
138552  BENE159195       2
138553  BENE159196       2
138554  BENE159197       1
138555  BENE159198       2

[138556 rows x 2 columns]

In [60]:
rels = [{'origin': x[1]['BeneID'],
       'target':  x[1]['Gender']} for x in grp.iterrows()]

In [61]:
query = """
    UNWIND $rels AS rel
    MATCH (e1:Beneficiary {idx: rel.origin})
    MATCH (e2:Gender {idx: rel.target}) 
    MERGE (e1)-[m:HAS_GENDER]->(e2)"""

db.run(query, {"rels":rels})

(No data)

## State

In [62]:
states=list(df.State.unique())

In [63]:
sts = [{"state": int(x),
     "idx" : i} for (i,x) in enumerate(states)]

In [64]:
query="""CREATE CONSTRAINT ON (n:State) ASSERT n.idx IS UNIQUE"""

In [65]:
db.run(query)

(No data)

In [66]:
query = """
    UNWIND $sts AS st
    MERGE (b:State {idx: st.idx, state: st.state})
        """
db.run(query, {"sts":sts})

(No data)

## (Beneficiary)-[:HOME_STATE]->(STATE)

In [67]:
grp=df[['BeneID','State']]

In [68]:
grp

            BeneID  State
0        BENE11001     39
1        BENE11002     39
2        BENE11003     52
3        BENE11004     39
4        BENE11005     24
...            ...    ...
138551  BENE159194     39
138552  BENE159195     49
138553  BENE159196      6
138554  BENE159197     16
138555  BENE159198     21

[138556 rows x 2 columns]

In [69]:
rels = [{'origin': x[1]['BeneID'],
       'target':  x[1]['State']} for x in grp.iterrows()]

In [70]:
query = """
    UNWIND $rels AS rel
    MATCH (e1:Beneficiary {idx: rel.origin})
    MATCH (e2:State {idx: rel.target}) 
    MERGE (e1)-[m:HOME_STATE]->(e2)"""

db.run(query, {"rels":rels})

(No data)

## County

In [71]:
counties=list(df.County.unique())

In [72]:
cts = [{"county": int(x),
     "idx" : i} for (i,x) in enumerate(counties)]

In [73]:
query="""CREATE CONSTRAINT ON (n:County) ASSERT n.idx IS UNIQUE"""

In [74]:
db.run(query)

(No data)

In [75]:
query = """
    UNWIND $cts AS ct
    MERGE (b:County {idx: ct.idx, county: ct.county})
        """
db.run(query, {"cts":cts})

(No data)

## (Beneficiary)-[:HOME_COUNTY]->(County)

In [76]:
grp=df[['BeneID','County']]

In [77]:
grp

            BeneID  County
0        BENE11001     230
1        BENE11002     280
2        BENE11003     590
3        BENE11004     270
4        BENE11005     680
...            ...     ...
138551  BENE159194     140
138552  BENE159195     530
138553  BENE159196     150
138554  BENE159197     560
138555  BENE159198      20

[138556 rows x 2 columns]

In [78]:
rels = [{'origin': x[1]['BeneID'],
       'target':  x[1]['County']} for x in grp.iterrows()]

In [79]:
query = """
    UNWIND $rels AS rel
    MATCH (e1:Beneficiary {idx: rel.origin})
    MATCH (e2:County {idx: rel.target}) 
    MERGE (e1)-[m:HOME_COUNTY]->(e2)"""

db.run(query, {"rels":rels})

(No data)

## (County)-[:BELONGS_TO]->(State)

In [80]:
grp=df[['County','State']]

In [81]:
rels = [{'origin': int(x[1]['County']),
       'target':  int(x[1]['State'])} for x in grp.iterrows()]

In [82]:
rels[31]

{'origin': 760, 'target': 34}

In [83]:
query = """
    UNWIND $rels AS rel
    MATCH (e1:County {idx: rel.origin})
    MATCH (e2:State {idx: rel.target}) 
    MERGE (e1)-[m:BELONGS_TO]->(e2)"""

In [84]:
db.run(query, {"rels":rels})

(No data)

## Months_PartA

In [85]:
Amonths=list(df.NoOfMonths_PartACov.unique())

In [86]:
ams = [{"Months_PartA": int(x),
     "idx" : i} for (i,x) in enumerate(Amonths)]

In [87]:
query="""CREATE CONSTRAINT ON (n:Months_PartA) ASSERT n.idx IS UNIQUE"""

In [88]:
db.run(query)

(No data)

In [89]:
query = """
    UNWIND $ams AS am
    MERGE (b:Months_PartA {idx: am.idx, Months_PartA: am.Months_PartA})
        """
db.run(query, {"ams":ams})

(No data)

## (Beneficiary)-[:HAS_COVERAGE_A]->(Months_PartA)

In [90]:
grp=df[['BeneID','NoOfMonths_PartACov']]

In [91]:
grp

            BeneID  NoOfMonths_PartACov
0        BENE11001                   12
1        BENE11002                   12
2        BENE11003                   12
3        BENE11004                   12
4        BENE11005                   12
...            ...                  ...
138551  BENE159194                   12
138552  BENE159195                   12
138553  BENE159196                   12
138554  BENE159197                   12
138555  BENE159198                   12

[138556 rows x 2 columns]

In [92]:
rels = [{'origin': x[1]['BeneID'],
       'target':  x[1]['NoOfMonths_PartACov']} for x in grp.iterrows()]

In [93]:
query = """
    UNWIND $rels AS rel
    MATCH (e1:Beneficiary {idx: rel.origin})
    MATCH (e2:Months_PartA {idx: rel.target}) 
    MERGE (e1)-[m:HAS_COVERAGE_A]->(e2)"""

db.run(query, {"rels":rels})

(No data)

## Months_PartB

In [94]:
Bmonths=list(df.NoOfMonths_PartBCov.unique())

In [95]:
bms = [{"Months_PartB": int(x),
     "idx" : i} for (i,x) in enumerate(Bmonths)]

In [96]:
query="""CREATE CONSTRAINT ON (n:Months_PartB) ASSERT n.idx IS UNIQUE"""

In [97]:
db.run(query)

(No data)

In [98]:
query = """
    UNWIND $bms AS bm
    MERGE (b:Months_PartB {idx: bm.idx, Months_PartB: bm.Months_PartB})
        """
db.run(query, {"bms":bms})

(No data)

## (Beneficiary)-[:HAS_COVERAGE_B]->(Months_PartB)

In [99]:
grp=df[['BeneID','NoOfMonths_PartBCov']]

In [100]:
rels = [{'origin': x[1]['BeneID'],
       'target':  x[1]['NoOfMonths_PartBCov']} for x in grp.iterrows()]

In [101]:
query = """
    UNWIND $rels AS rel
    MATCH (e1:Beneficiary {idx: rel.origin})
    MATCH (e2:Months_PartB {idx: rel.target}) 
    MERGE (e1)-[m:HAS_COVERAGE_B]->(e2)"""

db.run(query, {"rels":rels})

(No data)

## RenalDiseaseIndicator

In [102]:
renals=list(df.RenalDiseaseIndicator.unique())

In [103]:
renals

['0', 'Y']

In [104]:
rns = [{"Renal_Disease": x,
     "idx" : i} for (i,x) in enumerate(renals)]

In [136]:
rns

[{'Renal_Disease': '0', 'idx': 0}, {'Renal_Disease': 'Y', 'idx': 1}]

In [105]:
query="""CREATE CONSTRAINT ON (n:Renal_Disease) ASSERT n.idx IS UNIQUE"""

In [106]:
db.run(query)

(No data)

In [107]:
query = """
    UNWIND $rns AS rn
    MERGE (b:Renal_Disease {idx: rn.idx, Renal_Disease: rn.Renal_Disease})
        """
db.run(query, {"rns":rns})

(No data)

## (Beneficiary)-[:HAS_CHRONIC_R]->(Renal_Disease)

In [139]:
df['RenalDiseaseIndicator'].unique()

array(['0', 'Y'], dtype=object)

In [140]:
grp=df[['BeneID','RenalDiseaseIndicator']]

In [141]:
rels = [{'origin': x[1]['BeneID'],
       'target':  x[1]['RenalDiseaseIndicator']} for x in grp.iterrows()]

In [142]:
query = """
    UNWIND $rels AS rel
    MATCH (e1:Beneficiary {idx: rel.origin})
    MATCH (e2:Renal_Disease {Renal_Disease: rel.target}) 
    MERGE (e1)-[m:HAS_CHRONIC_R]->(e2)"""

In [143]:
db.run(query, {"rels":rels})

## ChronicCond_Alzheimer

In [111]:
alzheimers=list(df.ChronicCond_Alzheimer.unique())

In [112]:
alzs = [{"ChronicCond_Alzheimer": int(x),
     "idx" : i} for (i,x) in enumerate(alzheimers)]

In [113]:
query="""CREATE CONSTRAINT ON (n:ChronicCond_Alzheimer) ASSERT n.idx IS UNIQUE"""

In [114]:
db.run(query)

(No data)

In [115]:
query = """
    UNWIND $alzs AS alz
    MERGE (b:ChronicCond_Alzheimer {idx: alz.idx, ChronicCond_Alzheimer: alz.ChronicCond_Alzheimer})
        """
db.run(query, {"alzs":alzs})

(No data)

## (Beneficiary)-[:HAS_CHRONIC_A]->(ChronicCond_Alzheimer)

In [116]:
grp=df[['BeneID','ChronicCond_Alzheimer']]

In [117]:
grp

            BeneID  ChronicCond_Alzheimer
0        BENE11001                      1
1        BENE11002                      2
2        BENE11003                      1
3        BENE11004                      1
4        BENE11005                      2
...            ...                    ...
138551  BENE159194                      1
138552  BENE159195                      1
138553  BENE159196                      2
138554  BENE159197                      1
138555  BENE159198                      1

[138556 rows x 2 columns]

In [118]:
rels = [{'origin': x[1]['BeneID'],
       'target':  x[1]['ChronicCond_Alzheimer']} for x in grp.iterrows()]

In [119]:
query = """
    UNWIND $rels AS rel
    MATCH (e1:Beneficiary {idx: rel.origin})
    MATCH (e2:ChronicCond_Alzheimer {idx: rel.target}) 
    MERGE (e1)-[m:HAS_CHRONIC_A]->(e2)"""

db.run(query, {"rels":rels})

(No data)

## ChronicCond_Heartfailure

In [120]:
hearts=list(df.ChronicCond_Heartfailure.unique())

In [121]:
hs = [{"ChronicCond_Heartfailure": int(x),
     "idx" : i} for (i,x) in enumerate(hearts)]

In [122]:
query="""CREATE CONSTRAINT ON (n:ChronicCond_Heartfailure) ASSERT n.idx IS UNIQUE"""

In [123]:
db.run(query)

(No data)

In [124]:
query = """
    UNWIND $hs AS h
    MERGE (b:ChronicCond_Heartfailure {idx: h.idx, ChronicCond_Heartfailure: h.ChronicCond_Heartfailure})
        """
db.run(query, {"hs":hs})

(No data)

## (Beneficiary)-[:HAS_CHRONIC_H]->(ChronicCond_Heartfailure)

In [125]:
grp=df[['BeneID','ChronicCond_Heartfailure']]

In [126]:
rels = [{'origin': x[1]['BeneID'],
       'target':  x[1]['ChronicCond_Heartfailure']} for x in grp.iterrows()]

In [127]:
query = """
    UNWIND $rels AS rel
    MATCH (e1:Beneficiary {idx: rel.origin})
    MATCH (e2:ChronicCond_Heartfailure {idx: rel.target}) 
    MERGE (e1)-[m:HAS_CHRONIC_H]->(e2)"""

db.run(query, {"rels":rels})

(No data)

## ChronicCond_KidneyDisease

In [144]:
kidneys=list(df.ChronicCond_KidneyDisease.unique())

In [145]:
ks = [{"ChronicCond_KidneyDisease": int(x),
     "idx" : i} for (i,x) in enumerate(kidneys)]

In [146]:
query="""CREATE CONSTRAINT ON (n:ChronicCond_KidneyDisease) ASSERT n.idx IS UNIQUE"""

In [147]:
db.run(query)

(No data)

In [148]:
query = """
    UNWIND $ks AS k
    MERGE (b:ChronicCond_KidneyDisease {idx: k.idx, ChronicCond_KidneyDisease: k.ChronicCond_KidneyDisease})
        """
db.run(query, {"ks":ks})

(No data)

## (Beneficiary)-[:HAS_CHRONIC_K]->(ChronicCond_KidneyDisease)

In [149]:
grp=df[['BeneID','ChronicCond_KidneyDisease']]

In [150]:
rels = [{'origin': x[1]['BeneID'],
       'target':  x[1]['ChronicCond_KidneyDisease']} for x in grp.iterrows()]

In [151]:
query = """
    UNWIND $rels AS rel
    MATCH (e1:Beneficiary {idx: rel.origin})
    MATCH (e2:ChronicCond_KidneyDisease {idx: rel.target}) 
    MERGE (e1)-[m:HAS_CHRONIC_K]->(e2)"""

db.run(query, {"rels":rels})

(No data)

## (Provider)-[:IS_FRAUDULENT]->(IsFraudulent)

In [160]:
providers

      Provider PotentialFraud
0     PRV51001             No
1     PRV51003            Yes
2     PRV51004             No
3     PRV51005            Yes
4     PRV51007             No
...        ...            ...
5405  PRV57759             No
5406  PRV57760             No
5407  PRV57761             No
5408  PRV57762             No
5409  PRV57763             No

[5410 rows x 2 columns]

In [161]:
rels = [{'origin': x[1]['Provider'],
       'target':  x[1]['PotentialFraud']} for x in providers.iterrows()]

In [162]:
query = """

       UNWIND $rels as rel
       MATCH (e1:Provider {idx: rel.origin})
       SET e1.FRAUD = rel.target

"""

In [163]:
db.run(query, {'rels': rels})

(No data)

## Claim nodes

In [165]:
df_all

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,type
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Inpatient
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN,Inpatient
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Inpatient
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,...,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN,Inpatient
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,...,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN,Inpatient
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517732,BENE159198,CLM510792,2009-08-06,2009-08-06,PRV53699,800,PHY364188,PHY364188,PHY385752,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Outpatient
517733,BENE159198,CLM551294,2009-08-29,2009-08-29,PRV53702,400,PHY423019,PHY332284,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Outpatient
517734,BENE159198,CLM596444,2009-09-24,2009-09-24,PRV53676,60,PHY361063,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Outpatient
517735,BENE159198,CLM636992,2009-10-18,2009-10-18,PRV53689,70,PHY403198,NaN,PHY419379,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Outpatient
517736,BENE159198,CLM686139,2009-11-17,2009-11-18,PRV53689,80,PHY419379,NaN,PHY419379,NaN,...,V103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Outpatient

In [166]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 558211 entries, 0 to 517736
Data columns (total 31 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   BeneID                  558211 non-null  object
 1   ClaimID                 558211 non-null  object
 2   ClaimStartDt            558211 non-null  object
 3   ClaimEndDt              558211 non-null  object
 4   Provider                558211 non-null  object
 5   InscClaimAmtReimbursed  558211 non-null  int64
 6   AttendingPhysician      556703 non-null  object
 7   OperatingPhysician      114447 non-null  object
 8   OtherPhysician          199736 non-null  object
 9   AdmissionDt             40474 non-null   object
 10  ClmAdmitDiagnosisCode   145899 non-null  object
 11  DeductibleAmtPaid       557312 non-null  float64
 12  DischargeDt             40474 non-null   object
 13  DiagnosisGroupCode      40474 non-null   object
 14  ClmDiagnosisCode_1      547758 non-null  object
 15  ClmDiagnosisCode_2      362605 non-null  object
 16  ClmDiagnosisCode_3      243055 non-null  object
 17  ClmDiagnosisCode_4      164536 non-null  object
 18  ClmDiagnosisCode_5      111924 non-null  object
 19  ClmDiagnosisCode_6      84392 non-null   object
 20  ClmDiagnosisCode_7      66177 non-null   object
 21  ClmDiagnosisCode_8      53444 non-null   object
 22  ClmDiagnosisCode_9      41815 non-null   object
 23  ClmDiagnosisCode_10     5010 non-null    object
 24  ClmProcedureCode_1      23310 non-null   float64
 25  ClmProcedureCode_2      5490 non-null    float64
 26  ClmProcedureCode_3      969 non-null     float64
 27  ClmProcedureCode_4      118 non-null     float64
 28  ClmProcedureCode_5      9 non-null       float64
 29  ClmProcedureCode_6      0 non-null       float64
 30  type                    558211 non-null  object
dtypes: float64(7), int64(1), object(23)
memory usage: 136.3+ MB

In [167]:
claims = list(df_all.ClaimID.unique())
claims[:3]

['CLM46614', 'CLM66048', 'CLM68358']

In [168]:
len(claims)

558211

In [169]:
clms = [{'idx': x} for x in claims]

In [170]:
clms[:3]

[{'idx': 'CLM46614'}, {'idx': 'CLM66048'}, {'idx': 'CLM68358'}]

In [171]:
# set constraint on claim node that idx is unique
query="""CREATE CONSTRAINT ON (n:Claim) ASSERT n.idx IS UNIQUE"""

In [172]:
db.run(query)

(No data)

In [176]:
query = """CALL apoc.periodic.iterate(
    'UNWIND $clms AS clm MERGE (b:Claim {idx: clm.idx}) RETURN b',
    'WITH b RETURN count(b)',
    {batchSize:100, parallel:false, params: {clms:$clms}})"""

In [177]:
i=0
while i < len(claims):
    db.run(query, {"clms":clms[i:i+5000]}).to_table()
    i=i+5000

## Physician nodes:

In [178]:
phy_df = df_all[df_all['AttendingPhysician'].notna()]

In [179]:
physicians = list(phy_df.AttendingPhysician.unique())
physicians[:3]

['PHY390922', 'PHY318495', 'PHY372395']

In [180]:
len(physicians)

82063

In [181]:
phs = [{'idx': x} for x in physicians]

In [182]:
# set constraint on beneficiary node that idx is unique
query="""CREATE CONSTRAINT ON (n:Physician) ASSERT n.idx IS UNIQUE"""

In [183]:
db.run(query)

(No data)

In [184]:
query = """
    UNWIND $phs AS ph
    MERGE (b:Physician {idx: ph.idx})
        """
db.run(query, {"phs":phs})

(No data)

## (Provider)-[:HAS_WORKED_WITH]->(Physician)

In [185]:
grp=df_all.groupby(['Provider','AttendingPhysician'])['ClaimID'].count()

In [186]:
grp=grp.reset_index()

In [187]:
grp

       Provider AttendingPhysician  ClaimID
0      PRV51001          PHY311126        1
1      PRV51001          PHY318842        1
2      PRV51001          PHY340163        1
3      PRV51001          PHY345302        4
4      PRV51001          PHY346762        1
...         ...                ...      ...
87900  PRV57760          PHY398330        4
87901  PRV57761          PHY354815       68
87902  PRV57761          PHY367727       14
87903  PRV57762          PHY432730        1
87904  PRV57763          PHY321072      118

[87905 rows x 3 columns]

In [188]:
rels = [{'origin':x[1]['Provider'],
       'target': x[1]['AttendingPhysician']} for x in grp.iterrows()]

In [189]:
query = """
    UNWIND $rels AS rel
    MATCH (e1:Provider {idx: rel.origin})
    MATCH (e2:Physician {idx: rel.target}) 
    MERGE (e1)-[m:HAS_WORKED_WITH]->(e2)"""

db.run(query, {"rels":rels})

(No data)

## Type Node

In [190]:
types=list(df_all.type.unique())

In [191]:
types

['Inpatient', 'Outpatient']

In [192]:
ts = [{"Type": x,
     "idx" : i} for (i,x) in enumerate(types)]

In [193]:
ts

[{'Type': 'Inpatient', 'idx': 0}, {'Type': 'Outpatient', 'idx': 1}]

In [194]:
query="""CREATE CONSTRAINT ON (n:Type) ASSERT n.idx IS UNIQUE"""

In [195]:
db.run(query)

(No data)

In [196]:
query = """
    UNWIND $ts AS t
    MERGE (b:Type {idx: t.idx, Type: t.Type})
        """
db.run(query, {"ts":ts})

(No data)

## (Claim)-[:HAS_TYPE]->(Type)

In [197]:
grp=df_all[['ClaimID','type']]

In [198]:
rels = [{'origin': x[1]['ClaimID'],
       'target':  x[1]['type']} for x in grp.iterrows()]

In [199]:
len(rels)

558211

In [200]:
query = """
    CALL apoc.periodic.iterate(
    'UNWIND $rels AS rel
    MATCH (e1:Claim {idx: rel.origin})
    MATCH (e2:Type {Type: rel.target}) 
    MERGE (e1)-[m:HAS_TYPE]->(e2) RETURN m', 
    'WITH m RETURN count(m)',
    {batchSize:100, parallel:false, params: {rels:$rels}})
    """

In [201]:
i=0
while i < len(df_all):
    db.run(query, {"rels":rels[i:i+5000]}).to_table()
    i=i+5000

## (Provider)-[:HAS_CLAIM]->(Claim)

In [202]:
grp=df_all[['ClaimID','Provider']]

In [203]:
rels = [{'origin': x[1]['Provider'],
       'target':  x[1]['ClaimID']} for x in grp.iterrows()]

In [204]:
len(rels)

558211

In [205]:
query = """
    CALL apoc.periodic.iterate(
    'UNWIND $rels AS rel
    MATCH (e1:Provider {idx: rel.origin})
    MATCH (e2:Claim {idx: rel.target}) 
    MERGE (e1)-[m:P_HAS_CLAIM]->(e2) RETURN m', 
    'WITH m RETURN count(m)',
    {batchSize:100, parallel:false, params: {rels:$rels}})
    """

In [206]:
i=0
while i < len(df_all):
    db.run(query, {"rels":rels[i:i+5000]}).to_table()
    i=i+5000

## (Beneficiary)-[:HAS_CLAIM]->(Claim)

In [207]:
grp=df_all[['ClaimID','BeneID']]

In [208]:
rels = [{'origin': x[1]['BeneID'],
       'target':  x[1]['ClaimID']} for x in grp.iterrows()]

In [209]:
query = """
    CALL apoc.periodic.iterate(
    'UNWIND $rels AS rel
    MATCH (e1:Beneficiary {idx: rel.origin})
    MATCH (e2:Claim {idx: rel.target}) 
    MERGE (e1)-[m:B_HAS_CLAIM]->(e2) RETURN m', 
    'WITH m RETURN count(m)',
    {batchSize:100, parallel:false, params: {rels:$rels}})
    """

In [210]:
i=0
while i < len(df_all):
    db.run(query, {"rels":rels[i:i+5000]}).to_table()
    i=i+5000

## (Claim)-[:HAS_ATTENDING]->(Physician)

In [211]:
grp=df_all[['ClaimID','AttendingPhysician']]

In [212]:
rels = [{'origin': x[1]['ClaimID'],
       'target':  x[1]['AttendingPhysician']} for x in grp.iterrows()]

In [213]:
query = """
    CALL apoc.periodic.iterate(
    'UNWIND $rels AS rel
    MATCH (e1:Claim {idx: rel.origin})
    MATCH (e2:Physician {idx: rel.target}) 
    MERGE (e1)-[m:HAS_ATTENDING]->(e2) RETURN m', 
    'WITH m RETURN count(m)',
    {batchSize:100, parallel:false, params: {rels:$rels}})
    """

In [214]:
i=0
while i < len(df_all):
    db.run(query, {"rels":rels[i:i+5000]}).to_table()
    i=i+5000

## Diagnosis Node:

In [17]:
df_all.dtypes

BeneID                     object
ClaimID                    object
ClaimStartDt               object
ClaimEndDt                 object
Provider                   object
InscClaimAmtReimbursed      int64
AttendingPhysician         object
OperatingPhysician         object
OtherPhysician             object
AdmissionDt                object
ClmAdmitDiagnosisCode      object
DeductibleAmtPaid         float64
DischargeDt                object
DiagnosisGroupCode         object
ClmDiagnosisCode_1         object
ClmDiagnosisCode_2         object
ClmDiagnosisCode_3         object
ClmDiagnosisCode_4         object
ClmDiagnosisCode_5         object
ClmDiagnosisCode_6         object
ClmDiagnosisCode_7         object
ClmDiagnosisCode_8         object
ClmDiagnosisCode_9         object
ClmDiagnosisCode_10        object
ClmProcedureCode_1        float64
ClmProcedureCode_2        float64
ClmProcedureCode_3        float64
ClmProcedureCode_4        float64
ClmProcedureCode_5        float64
ClmProcedureCode_6        float64
type                       object
dtype: object

In [18]:
D1=list(df_all['ClmDiagnosisCode_1'].unique())
D2=list(df_all['ClmDiagnosisCode_2'].unique())
D3=list(df_all['ClmDiagnosisCode_3'].unique())
D4=list(df_all['ClmDiagnosisCode_4'].unique())
D5=list(df_all['ClmDiagnosisCode_5'].unique())
D6=list(df_all['ClmDiagnosisCode_6'].unique())
D7=list(df_all['ClmDiagnosisCode_7'].unique())
D8=list(df_all['ClmDiagnosisCode_8'].unique())
D9=list(df_all['ClmDiagnosisCode_9'].unique())
D10=list(df_all['ClmDiagnosisCode_10'].unique())
D=D1+D2+D3+D4+D5+D6+D7+D8+D9+D10
D=set(D)

In [19]:
D=list(D)
diagnosis=D[1:]

In [20]:
ds = [{"Diagnosis": x,
     "idx" : i} for (i,x) in enumerate(diagnosis)]

In [21]:
query="""CREATE CONSTRAINT ON (n:Diagnosis) ASSERT n.idx IS UNIQUE"""

In [ ]:
db.run(query)

In [ ]:
query = """
    UNWIND $ds AS d
    MERGE (b:Diagnosis {idx: d.idx, Type: d.Diagnosis})
        """
db.run(query, {"ds":ds})

## (Claim)-[:HAS_DIAGNOSIS]->(Diagnosis)

In [23]:
df_long = pd.melt(df_all, id_vars='ClaimID', value_vars=['ClmDiagnosisCode_1', 'ClmDiagnosisCode_2','ClmDiagnosisCode_3', 
                                                         'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6',
                                                        'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9',
                                                        'ClmDiagnosisCode_10'])

In [24]:
df_long=df_long[~df_long['value'].isna()]

In [25]:
df_long=df_long[['ClaimID', 'value']]

In [26]:
df_long.head()

    ClaimID  value
0  CLM46614   1970
1  CLM66048   6186
2  CLM68358  29623
3  CLM38412  43491
4  CLM63689    042

In [27]:
df_long['ClaimID'].value_counts()

CLM552035    10
CLM709826    10
CLM50833     10
CLM76789     10
CLM74513     10
             ..
CLM402945     1
CLM405420     1
CLM319946     1
CLM206785     1
CLM349913     1
Name: ClaimID, Length: 547758, dtype: int64

In [28]:
grp=df_long[['ClaimID','value']]

In [29]:
rels = [{'origin': x[1]['ClaimID'],
       'target':  x[1]['value']} for x in grp.iterrows()]

In [30]:
rels

[{'origin': 'CLM46614', 'target': '1970'},
 {'origin': 'CLM66048', 'target': '6186'},
 {'origin': 'CLM68358', 'target': '29623'},
 {'origin': 'CLM38412', 'target': '43491'},
 {'origin': 'CLM63689', 'target': '042'},
 {'origin': 'CLM70950', 'target': '1745'},
 {'origin': 'CLM32075', 'target': '1536'},
 {'origin': 'CLM62376', 'target': '56212'},
 {'origin': 'CLM62784', 'target': '42823'},
 {'origin': 'CLM31519', 'target': '41041'},
 {'origin': 'CLM57949', 'target': '03842'},
 {'origin': 'CLM70083', 'target': '29623'},
 {'origin': 'CLM65412', 'target': '43411'},
 {'origin': 'CLM54944', 'target': '49121'},
 {'origin': 'CLM78682', 'target': '51881'},
 {'origin': 'CLM57153', 'target': '82021'},
 {'origin': 'CLM34469', 'target': '29590'},
 {'origin': 'CLM54477', 'target': '42731'},
 {'origin': 'CLM57077', 'target': '25081'},
 {'origin': 'CLM61587', 'target': '00845'},
 {'origin': 'CLM36789', 'target': '41519'},
 {'origin': 'CLM38115', 'target': '99591'},
 {'origin': 'CLM41414', 'target': '41401'},
 {'origin': 'CLM60246', 'target': '486'},
 {'origin': 'CLM75192', 'target': '5990'},
 {'origin': 'CLM37565', 'target': '49121'},
 {'origin': 'CLM62447', 'target': '41071'},
 {'origin': 'CLM80966', 'target': '6826'},
 {'origin': 'CLM48802', 'target': '49122'},
 {'origin': 'CLM60118', 'target': '71536'},
 {'origin': 'CLM56288', 'target': '60001'},
 {'origin': 'CLM63127', 'target': '30391'},
 {'origin': 'CLM42596', 'target': '43411'},
 {'origin': 'CLM35816', 'target': '42731'},
 {'origin': 'CLM32146', 'target': '99662'},
 {'origin': 'CLM82202', 'target': '99662'},
 {'origin': 'CLM33470', 'target': '4822'},
 {'origin': 'CLM58670', 'target': '41011'},
 {'origin': 'CLM46868', 'target': '5070'},
 {'origin': 'CLM72526', 'target': '29532'},
 {'origin': 'CLM44765', 'target': '5921'},
 {'origin': 'CLM76960', 'target': '5789'},
 {'origin': 'CLM33742', 'target': '2948'},
 {'origin': 'CLM78387', 'target': '515'},
 {'origin': 'CLM35890', 'target': '0380'},
 {'origin': 'CLM34789', 'target': '82021'},
 {'origin': 'CLM44063', 'target': '72283'},
 {'origin': 'CLM70810', 'target': '5119'},
 {'origin': 'CLM70221', 'target': '44101'},
 {'origin': 'CLM74096', 'target': '44422'},
 {'origin': 'CLM78513', 'target': '71515'},
 {'origin': 'CLM36482', 'target': '51881'},
 {'origin': 'CLM40640', 'target': '3071'},
 {'origin': 'CLM80161', 'target': '4359'},
 {'origin': 'CLM73312', 'target': '43491'},
 {'origin': 'CLM57950', 'target': '56089'},
 {'origin': 'CLM63566', 'target': '53019'},
 {'origin': 'CLM35019', 'target': '25080'},
 {'origin': 'CLM38541', 'target': '43310'},
 {'origin': 'CLM57078', 'target': '2536'},
 {'origin': 'CLM33543', 'target': '5770'},
 {'origin': 'CLM45818', 'target': '41401'},
 {'origin': 'CLM66977', 'target': '44023'},
 {'origin': 'CLM62377', 'target': '41071'},
 {'origin': 'CLM55364', 'target': '78659'},
 {'origin': 'CLM69177', 'target': '51881'},
 {'origin': 'CLM76836', 'target': '82009'},
 {'origin': 'CLM42956', 'target': '2768'},
 {'origin': 'CLM31576', 'target': '51881'},
 {'origin': 'CLM35522', 'target': '27651'},
 {'origin': 'CLM64292', 'target': '0389'},
 {'origin': 'CLM63877', 'target': '99931'},
 {'origin': 'CLM66617', 'target': '59969'},
 {'origin': 'CLM75314', 'target': '99664'},
 {'origin': 'CLM43925', 'target': '57400'},
 {'origin': 'CLM73679', 'target': '6826'},
 {'origin': 'CLM57657', 'target': '5990'},
 {'origin': 'CLM64576', 'target': '53783'},
 {'origin': 'CLM35296', 'target': '5849'},
 {'origin': 'CLM45888', 'target': '42731'},
 {'origin': 'CLM34317', 'target': '25072'},
 {'origin': 'CLM33807', 'target': '00845'},
 {'origin': 'CLM33949', 'target': '5849'},
 {'origin': 'CLM69949', 'target': '49121'},
 {'origin': 'CLM70156', 'target': '41401'},
 {'origin': 'CLM75627', 'target': '3963'},
 {'origin': 'CLM49761', 'target': '43491'},
 {'origin': 'CLM35020', 'target': '5070'},
 {'origin': 'CLM41415', 'target': '43491'},
 {'origin': 'CLM68437', 'target': '30390'},
 {'origin': 'CLM31773', 'target': '5609'},
 {'origin': 'CLM59459', 'target': '27702'},
 {'origin': 'CLM76616', 'target': '03812'},
 {'origin': 'CLM76430', 'target': '486'},
 {'origin': 'CLM79476', 'target': '42823'},
 {'origin': 'CLM58991', 'target': '486'},
 {'origin': 'CLM33113', 'target': '78559'},
 {'origin': 'CLM35457', 'target': '29570'},
 {'origin': 'CLM70157', 'target': '79902'},
 {'origin': 'CLM36790', 'target': '1541'},
 {'origin': 'CLM63754', 'target': '29530'},
 {'origin': 'CLM62859', 'target': '25080'},
 {'origin': 'CLM33808', 'target': '7851'},
 {'origin': 'CLM39427', 'target': '4373'},
 {'origin': 'CLM59661', 'target': '7802'},
 {'origin': 'CLM34394', 'target': '6826'},
 {'origin': 'CLM50583', 'target': '41401'},
 {'origin': 'CLM51126', 'target': '8244'},
 {'origin': 'CLM43646', 'target': '42789'},
 {'origin': 'CLM35369', 'target': '29620'},
 {'origin': 'CLM74441', 'target': '2766'},
 {'origin': 'CLM47187', 'target': '71536'},
 {'origin': 'CLM68505', 'target': '42831'},
 {'origin': 'CLM32758', 'target': '5990'},
 {'origin': 'CLM35817', 'target': '5722'},
 {'origin': 'CLM47534', 'target': '99669'},
 {'origin': 'CLM49891', 'target': '4280'},
 {'origin': 'CLM38542', 'target': '27651'},
 {'origin': 'CLM76176', 'target': '45981'},
 {'origin': 'CLM40182', 'target': '3094'},
 {'origin': 'CLM38986', 'target': 'V5489'},
 {'origin': 'CLM51127', 'target': '2768'},
 {'origin': 'CLM41267', 'target': '99649'},
 {'origin': 'CLM80551', 'target': '20288'},
 {'origin': 'CLM57154', 'target': '5569'},
 {'origin': 'CLM38195', 'target': '71531'},
 {'origin': 'CLM75628', 'target': '5589'},
 {'origin': 'CLM32147', 'target': '78079'},
 {'origin': 'CLM60797', 'target': '44023'},
 {'origin': 'CLM66768', 'target': '4280'},
 {'origin': 'CLM67310', 'target': '41071'},
 {'origin': 'CLM68359', 'target': '42731'},
 {'origin': 'CLM39722', 'target': '82009'},
 {'origin': 'CLM37342', 'target': 'V5789'},
 {'origin': 'CLM33252', 'target': '5109'},
 {'origin': 'CLM39428', 'target': '4241'},
 {'origin': 'CLM41980', 'target': '60001'},
 {'origin': 'CLM65594', 'target': '57451'},
 {'origin': 'CLM64007', 'target': '51881'},
 {'origin': 'CLM42886', 'target': '5601'},
 {'origin': 'CLM72852', 'target': '0389'},
 {'origin': 'CLM76177', 'target': '5722'},
 {'origin': 'CLM62860', 'target': '27651'},
 {'origin': 'CLM50507', 'target': '7866'},
 {'origin': 'CLM72919', 'target': '03842'},
 {'origin': 'CLM72578', 'target': '71535'},
 {'origin': 'CLM36096', 'target': '42731'},
 {'origin': 'CLM47949', 'target': '1977'},
 {'origin': 'CLM65009', 'target': '486'},
 {'origin': 'CLM51050', 'target': '8244'},
 {'origin': 'CLM79068', 'target': '4580'},
 {'origin': 'CLM51257', 'target': '49122'},
 {'origin': 'CLM74954', 'target': '430'},
 {'origin': 'CLM60388', 'target': '57401'},
 {'origin': 'CLM50508', 'target': '99642'},
 {'origin': 'CLM33950', 'target': '23879'},
 {'origin': 'CLM60798', 'target': '0389'},
 {'origin': 'CLM70744', 'target': '5109'},
 {'origin': 'CLM34470', 'target': '3310'},
 {'origin': 'CLM34790', 'target': '99664'},
 {'origin': 'CLM38345', 'target': '7802'},
 {'origin': 'CLM43847', 'target': '1983'},
 {'origin': 'CLM63512', 'target': '4280'},
 {'origin': 'CLM43570', 'target': '8082'},
 {'origin': 'CLM39570', 'target': '42731'},
 {'origin': 'CLM33253', 'target': '29640'},
 {'origin': 'CLM41113', 'target': '45342'},
 {'origin': 'CLM70430', 'target': '7282'},
 {'origin': 'CLM36938', 'target': '5939'},
 {'origin': 'CLM60183', 'target': '431'},
 {'origin': 'CLM66908', 'target': '42781'},
 {'origin': 'CLM76557', 'target': '39891'},
 {'origin': 'CLM77848', 'target': '1579'},
 {'origin': 'CLM68156', 'target': '486'},
 {'origin': 'CLM36097', 'target': '51881'},
 {'origin': 'CLM40875', 'target': '1363'},
 {'origin': 'CLM35742', 'target': '41401'},
 {'origin': 'CLM37086', 'target': '60490'},
 {'origin': 'CLM53258', 'target': '71595'},
 {'origin': 'CLM56553', 'target': '99931'},
 {'origin': 'CLM58372', 'target': '5589'},
 {'origin': 'CLM58438', 'target': '7907'},
 {'origin': 'CLM50317', 'target': '2760'},
 {'origin': 'CLM68360', 'target': '5579'},
 {'origin': 'CLM60722', 'target': '5920'},
 {'origin': 'CLM77715', 'target': '7802'},
 {'origin': 'CLM69497', 'target': '28800'},
 {'origin': 'CLM57951', 'target': '70709'},
 {'origin': 'CLM77152', 'target': '4580'},
 {'origin': 'CLM69950', 'target': '78652'},
 {'origin': 'CLM71394', 'target': 'V5789'},
 {'origin': 'CLM75693', 'target': '41401'},
 {'origin': 'CLM53393', 'target': '78650'},
 {'origin': 'CLM49012', 'target': '1890'},
 {'origin': 'CLM34718', 'target': '53140'},
 {'origin': 'CLM42458', 'target': '41071'},
 {'origin': 'CLM31378', 'target': '6273'},
 {'origin': 'CLM31577', 'target': '8208'},
 {'origin': 'CLM70539', 'target': '38630'},
 {'origin': 'CLM55643', 'target': 'V5789'},
 {'origin': 'CLM65259', 'target': 'V5789'},
 {'origin': 'CLM73448', 'target': '5789'},
 {'origin': 'CLM31851', 'target': '5070'},
 {'origin': 'CLM68361', 'target': '78659'},
 {'origin': 'CLM56484', 'target': '48242'},
 {'origin': 'CLM65923', 'target': '27651'},
 {'origin': 'CLM34549', 'target': '5070'},
 {'origin': 'CLM47611', 'target': '34831'},
 {'origin': 'CLM57293', 'target': '78650'},
 {'origin': 'CLM38346', 'target': '486'},
 {'origin': 'CLM67514', 'target': '49121'},
 {'origin': 'CLM78514', 'target': '5849'},
 {'origin': 'CLM58927', 'target': '49121'},
 {'origin': 'CLM69418', 'target': '60021'},
 {'origin': 'CLM74160', 'target': '43491'},
 {'origin': 'CLM39137', 'target': '431'},
 {'origin': 'CLM47127', 'target': '41519'},
 {'origin': 'CLM40094', 'target': '5990'},
 {'origin': 'CLM74565', 'target': '51884'},
 {'origin': 'CLM45889', 'target': '00845'},
 {'origin': 'CLM70611', 'target': '0389'},
 {'origin': 'CLM56012', 'target': '43310'},
 {'origin': 'CLM71466', 'target': '42781'},
 {'origin': 'CLM78015', 'target': '71536'},
 {'origin': 'CLM34626', 'target': '51181'},
 {'origin': 'CLM36550', 'target': '56400'},
 {'origin': 'CLM62378', 'target': '71536'},
 {'origin': 'CLM76617', 'target': '1570'},
 {'origin': 'CLM48155', 'target': '5521'},
 {'origin': 'CLM59662', 'target': '486'},
 {'origin': 'CLM38282', 'target': '00845'},
 {'origin': 'CLM56418', 'target': '5849'},
 {'origin': 'CLM51051', 'target': '60001'},
 {'origin': 'CLM62986', 'target': '56039'},
 {'origin': 'CLM41555', 'target': '25080'},
 {'origin': 'CLM31200', 'target': '49121'},
 {'origin': 'CLM36791', 'target': '43310'},
 {'origin': 'CLM63567', 'target': '78039'},
 {'origin': 'CLM71081', 'target': '5750'},
 {'origin': 'CLM65413', 'target': '486'},
 {'origin': 'CLM68774', 'target': '5722'},
 {'origin': 'CLM72782', 'target': '2536'},
 {'origin': 'CLM46476', 'target': '2841'},
 {'origin': 'CLM67047', 'target': '00845'},
 {'origin': 'CLM74097', 'target': '5722'},
 {'origin': 'CLM55498', 'target': '71596'},
 {'origin': 'CLM69419', 'target': '81200'},
 {'origin': 'CLM40330', 'target': '53200'},
 {'origin': 'CLM43502', 'target': '5990'},
 {'origin': 'CLM39287', 'target': '5609'},
 {'origin': 'CLM40014', 'target': '486'},
 {'origin': 'CLM60600', 'target': '40290'},
 {'origin': 'CLM78389', 'target': '24290'},
 {'origin': 'CLM70222', 'target': '2761'},
 {'origin': 'CLM60314', 'target': '42731'},
 {'origin': 'CLM50509', 'target': '2930'},
 {'origin': 'CLM56082', 'target': '4280'},
 {'origin': 'CLM62317', 'target': '03849'},
 {'origin': 'CLM64157', 'target': '42731'},
 {'origin': 'CLM69951', 'target': '49121'},
 {'origin': 'CLM68221', 'target': 'V5789'},
 {'origin': 'CLM45424', 'target': '4414'},
 {'origin': 'CLM56753', 'target': '44030'},
 {'origin': 'CLM60944', 'target': '6826'},
 {'origin': 'CLM44683', 'target': '7260'},
 {'origin': 'CLM33028', 'target': '56213'},
 {'origin': 'CLM57371', 'target': '71595'},
 {'origin': 'CLM62177', 'target': '55090'},
 {'origin': 'CLM55215', 'target': '5990'},
 {'origin': 'CLM55939', 'target': '56211'},
 {'origin': 'CLM62318', 'target': '5750'},
 {'origin': 'CLM65661', 'target': '53140'},
 {'origin': 'CLM31928', 'target': '29690'},
 {'origin': 'CLM58928', 'target': '1977'},
 {'origin': 'CLM55644', 'target': '5849'},
 {'origin': 'CLM36872', 'target': '29680'},
 {'origin': 'CLM42192', 'target': '5990'},
 {'origin': 'CLM45279', 'target': '42789'},
 {'origin': 'CLM63755', 'target': '43491'},
 {'origin': 'CLM64009', 'target': '42732'},
 {'origin': 'CLM67779', 'target': '71945'},
 {'origin': 'CLM33620', 'target': '5728'},
 {'origin': 'CLM37566', 'target': '99674'},
 {'origin': 'CLM78068', 'target': '5609'},
 {'origin': 'CLM35891', 'target': '4168'},
 {'origin': 'CLM35370', 'target': '7336'},
 {'origin': 'CLM68506', 'target': '1623'},
 {'origin': 'CLM50318', 'target': 'V5789'},
 {'origin': 'CLM59122', 'target': '8056'},
 {'origin': 'CLM38622', 'target': '430'},
 {'origin': 'CLM46986', 'target': '56081'},
 {'origin': 'CLM55940', 'target': '78791'},
 {'origin': 'CLM61924', 'target': '5601'},
 {'origin': 'CLM80593', 'target': '6259'},
 {'origin': 'CLM45351', 'target': '57410'},
 {'origin': 'CLM54409', 'target': '99883'},
 {'origin': 'CLM47314', 'target': '5185'},
 {'origin': 'CLM58225', 'target': '42823'},
 {'origin': 'CLM60723', 'target': '49392'},
 {'origin': 'CLM47315', 'target': '4280'},
 {'origin': 'CLM58861', 'target': '7802'},
 {'origin': 'CLM44684', 'target': '486'},
 {'origin': 'CLM62579', 'target': '1919'},
 {'origin': 'CLM39571', 'target': '82009'},
 {'origin': 'CLM42326', 'target': '486'},
 {'origin': 'CLM58156', 'target': '28264'},
 {'origin': 'CLM57516', 'target': 'V5789'},
 {'origin': 'CLM73313', 'target': '340'},
 {'origin': 'CLM64158', 'target': '2859'},
 {'origin': 'CLM34096', 'target': '85221'},
 {'origin': 'CLM76431', 'target': '78659'},
 {'origin': 'CLM60473', 'target': '2989'},
 {'origin': 'CLM50852', 'target': '486'},
 {'origin': 'CLM45957', 'target': '49322'},
 {'origin': 'CLM39512', 'target': '43310'},
 {'origin': 'CLM73680', 'target': '6826'},
 {'origin': 'CLM37278', 'target': '6823'},
 {'origin': 'CLM32076', 'target': '25002'},
 {'origin': 'CLM47889', 'target': '5609'},
 {'origin': 'CLM65595', 'target': '33520'},
 {'origin': 'CLM37793', 'target': '41401'},
 {'origin': 'CLM42669', 'target': '78906'},
 {'origin': 'CLM57372', 'target': '00845'},
 {'origin': 'CLM31520', 'target': '4241'},
 {'origin': 'CLM58862', 'target': '0383'},
 {'origin': 'CLM64642', 'target': '99604'},
 {'origin': 'CLM80326', 'target': '1535'},
 {'origin': 'CLM71334', 'target': '42833'},
 {'origin': 'CLM53259', 'target': '431'},
 {'origin': 'CLM64449', 'target': '5070'},
 {'origin': 'CLM65334', 'target': '51881'},
 {'origin': 'CLM35892', 'target': '42789'},
 {'origin': 'CLM56811', 'target': '29570'},
 {'origin': 'CLM53682', 'target': '0389'},
 {'origin': 'CLM52517', 'target': '27542'},
 {'origin': 'CLM39949', 'target': '40391'},
 {'origin': 'CLM55941', 'target': '5609'},
 {'origin': 'CLM79897', 'target': '1890'},
 {'origin': 'CLM46987', 'target': '82322'},
 {'origin': 'CLM38029', 'target': '41401'},
 {'origin': 'CLM73817', 'target': '29040'},
 {'origin': 'CLM76038', 'target': '4019'},
 {'origin': 'CLM51394', 'target': '5733'},
 {'origin': 'CLM75485', 'target': '68110'},
 {'origin': 'CLM46810', 'target': '56081'},
 {'origin': 'CLM60247', 'target': '25040'},
 {'origin': 'CLM68362', 'target': '43491'},
 {'origin': 'CLM43290', 'target': '7837'},
 {'origin': 'CLM70678', 'target': '485'},
 {'origin': 'CLM66978', 'target': '0389'},
 {'origin': 'CLM79794', 'target': '42833'},
 {'origin': 'CLM49382', 'target': '5070'},
 {'origin': 'CLM55286', 'target': '60000'},
 {'origin': 'CLM71278', 'target': '71596'},
 {'origin': 'CLM53022', 'target': '56211'},
 {'origin': 'CLM75897', 'target': '41401'},
 {'origin': 'CLM42670', 'target': '7837'},
 {'origin': 'CLM41269', 'target': '41401'},
 {'origin': 'CLM73752', 'target': 'V5789'},
 {'origin': 'CLM76039', 'target': '1623'},
 {'origin': 'CLM61378', 'target': '68100'},
 {'origin': 'CLM68222', 'target': '2948'},
 {'origin': 'CLM79521', 'target': '2181'},
 {'origin': 'CLM37279', 'target': '92400'},
 {'origin': 'CLM64010', 'target': '71536'},
 {'origin': 'CLM38116', 'target': '5990'},
 {'origin': 'CLM65183', 'target': '56212'},
 {'origin': 'CLM50584', 'target': '42731'},
 {'origin': 'CLM80162', 'target': '53530'},
 {'origin': 'CLM31694', 'target': '25062'},
 {'origin': 'CLM43238', 'target': '4280'},
 {'origin': 'CLM46543', 'target': '9679'},
 {'origin': 'CLM53532', 'target': '42789'},
 {'origin': 'CLM70291', 'target': '42781'},
 {'origin': 'CLM47249', 'target': '2113'},
 {'origin': 'CLM60872', 'target': 'V5789'},
 {'origin': 'CLM72853', 'target': '42731'},
 {'origin': 'CLM63878', 'target': '29990'},
 {'origin': 'CLM35371', 'target': '73313'},
 {'origin': 'CLM31998', 'target': '44022'},
 {'origin': 'CLM41473', 'target': '4280'},
 {'origin': 'CLM41348', 'target': '5110'},
 {'origin': 'CLM43848', 'target': '56212'},
 {'origin': 'CLM46040', 'target': '41071'},
 {'origin': 'CLM55216', 'target': '486'},
 {'origin': 'CLM42271', 'target': '40491'},
 {'origin': 'CLM69628', 'target': '56081'},
 {'origin': 'CLM36233', 'target': '5119'},
 {'origin': 'CLM61925', 'target': '60001'},
 {'origin': 'CLM80689', 'target': '78659'},
 {'origin': 'CLM62051', 'target': '3962'},
 {'origin': 'CLM64716', 'target': '99859'},
 {'origin': 'CLM53185', 'target': '42731'},
 {'origin': 'CLM57567', 'target': '2762'},
 {'origin': 'CLM67311', 'target': '71535'},
 {'origin': 'CLM76618', 'target': '71536'},
 {'origin': 'CLM43239', 'target': '56941'},
 {'origin': 'CLM36722', 'target': '4580'},
 {'origin': 'CLM62319', 'target': 'V5789'},
 {'origin': 'CLM64867', 'target': '0389'},
 {'origin': 'CLM71851', 'target': '78659'},
 {'origin': 'CLM31578', 'target': '27651'},
 {'origin': 'CLM69108', 'target': '78060'},
 {'origin': 'CLM69350', 'target': '4414'},
 {'origin': 'CLM69037', 'target': '99642'},
 {'origin': 'CLM35893', 'target': '6084'},
 {'origin': 'CLM38117', 'target': '45341'},
 {'origin': 'CLM35297', 'target': '8082'},
 {'origin': 'CLM55217', 'target': '9975'},
 {'origin': 'CLM39429', 'target': '41071'},
 {'origin': 'CLM41838', 'target': '6826'},
 {'origin': 'CLM43647', 'target': '78659'},
 {'origin': 'CLM79847', 'target': '8052'},
 {'origin': 'CLM69887', 'target': '6822'},
 {'origin': 'CLM45733', 'target': '42789'},
 {'origin': 'CLM78747', 'target': '486'},
 {'origin': 'CLM52594', 'target': '42781'},
 {'origin': 'CLM65528', 'target': '4416'},
 {'origin': 'CLM68646', 'target': '41071'},
 {'origin': 'CLM46747', 'target': '42789'},
 {'origin': 'CLM49522', 'target': '5609'},
 {'origin': 'CLM31345', 'target': '56039'},
 {'origin': 'CLM39572', 'target': '25062'},
 {'origin': 'CLM63941', 'target': '56212'},
 {'origin': 'CLM65983', 'target': '5601'},
 {'origin': 'CLM71467', 'target': '49322'},
 {'origin': 'CLM55426', 'target': '0389'},
 {'origin': 'CLM68363', 'target': '6181'},
 {'origin': 'CLM44685', 'target': '4580'},
 {'origin': 'CLM70745', 'target': '0389'},
 {'origin': 'CLM63444', 'target': '4139'},
 {'origin': 'CLM35144', 'target': '6184'},
 {'origin': 'CLM66909', 'target': '8241'},
 {'origin': 'CLM72579', 'target': '03812'},
 {'origin': 'CLM73386', 'target': '6271'},
 {'origin': 'CLM43648', 'target': '51884'},
 {'origin': 'CLM46262', 'target': '3829'},
 {'origin': 'CLM50035', 'target': '5990'},
 {'origin': 'CLM55018', 'target': '71531'},
 {'origin': 'CLM31999', 'target': '49122'},
 {'origin': 'CLM54539', 'target': '8082'},
 {'origin': 'CLM36873', 'target': '486'},
 {'origin': 'CLM72783', 'target': '486'},
 {'origin': 'CLM59520', 'target': '48242'},
 {'origin': 'CLM54707', 'target': 'V5789'},
 {'origin': 'CLM50853', 'target': '5641'},
 {'origin': 'CLM69564', 'target': '56089'},
 {'origin': 'CLM71012', 'target': '7802'},
 {'origin': 'CLM80059', 'target': '41401'},
 {'origin': 'CLM38691', 'target': '6826'},
 {'origin': 'CLM44193', 'target': '78791'},
 {'origin': 'CLM70679', 'target': '56212'},
 {'origin': 'CLM57568', 'target': '4019'},
 {'origin': 'CLM78996', 'target': '44023'},
 {'origin': 'CLM46544', 'target': '41401'},
 {'origin': 'CLM43240', 'target': '80605'},
 {'origin': 'CLM58015', 'target': '71536'},
 {'origin': 'CLM58614', 'target': '78659'},
 {'origin': 'CLM55366', 'target': 'V5789'},

In [31]:
query = """
    CALL apoc.periodic.iterate(
    'UNWIND $rels AS rel
    MATCH (e1:Claim {idx: rel.origin})
    MATCH (e2:Diagnosis {Type: rel.target}) 
    MERGE (e1)-[m:HAS_DIAGNOSIS]->(e2) RETURN m', 
    'WITH m RETURN count(m)',
    {batchSize:100, parallel:false, params: {rels:$rels}})
    """

In [32]:
i=0
while i < len(df_long):
    db.run(query, {"rels":rels[i:i+5000]}).to_table()
    i=i+5000

## Procedure Node:

In [33]:
P1=list(df_all['ClmProcedureCode_1'].unique())
P2=list(df_all['ClmProcedureCode_2'].unique())
P3=list(df_all['ClmProcedureCode_3'].unique())
P4=list(df_all['ClmProcedureCode_4'].unique())
P5=list(df_all['ClmProcedureCode_5'].unique())
P6=list(df_all['ClmProcedureCode_6'].unique())
P=P1+P2+P3+P4+P5+P6
P=set(P)