## Health Insurance Fraud

![](schema_draft_3.png)

In [1]:
from py2neo import Graph, Node
db = Graph(scheme="bolt", host="localhost", port=7687, secure=False, 
                auth=('neo4j', 'test'))
#db.delete_all()

In [2]:
import pandas as pd

In [3]:
%ls data

 Le volume dans le lecteur C nâ€™a pas de nom.
 Le numÃ©ro de sÃ©rie du volume est EE44-8BAE

 RÃ©pertoire de C:\Users\LENOVO\Documents\GitHub\healthcare_fraud\data

14/12/2021  10:13    <DIR>          .
14/12/2021  10:13    <DIR>          ..
23/10/2019  08:12         5Â 325Â 982 Test_Beneficiarydata-1542969243754.csv
23/10/2019  08:12         2Â 020Â 712 Test_Inpatientdata-1542969243754.csv
23/10/2019  08:12        18Â 806Â 934 Test_Outpatientdata-1542969243754.csv
23/10/2019  08:12            14Â 894 Test-1542969243754.csv
23/10/2019  08:12        11Â 444Â 821 Train_Beneficiarydata-1542865627584.csv
23/10/2019  08:12         8Â 572Â 555 Train_Inpatientdata-1542865627584.csv
23/10/2019  08:12        77Â 391Â 090 Train_Outpatientdata-1542865627584.csv
23/10/2019  08:12            87Â 094 Train-1542865627584.csv
               8 fichier(s)      123Â 664Â 082 octets
               2 RÃ©p(s)  399Â 197Â 986Â 816 octets libres

In [4]:
df=pd.read_csv("data/Train_Beneficiarydata-1542865627584.csv")

In [5]:
df.columns

Index(['BeneID', 'DOB', 'DOD', 'Gender', 'Race', 'RenalDiseaseIndicator',
       'State', 'County', 'NoOfMonths_PartACov', 'NoOfMonths_PartBCov',
       'ChronicCond_Alzheimer', 'ChronicCond_Heartfailure',
       'ChronicCond_KidneyDisease', 'ChronicCond_Cancer',
       'ChronicCond_ObstrPulmonary', 'ChronicCond_Depression',
       'ChronicCond_Diabetes', 'ChronicCond_IschemicHeart',
       'ChronicCond_Osteoporasis', 'ChronicCond_rheumatoidarthritis',
       'ChronicCond_stroke', 'IPAnnualReimbursementAmt',
       'IPAnnualDeductibleAmt', 'OPAnnualReimbursementAmt',
       'OPAnnualDeductibleAmt'],
      dtype='object')

In [6]:
df.head()

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,1943-01-01,NaN,1,1,0,39,230,12,12,...,1,1,1,2,1,1,36000,3204,60,70
1,BENE11002,1936-09-01,NaN,2,1,0,39,280,12,12,...,2,2,2,2,2,2,0,0,30,50
2,BENE11003,1936-08-01,NaN,1,1,0,52,590,12,12,...,2,2,1,2,2,2,0,0,90,40
3,BENE11004,1922-07-01,NaN,1,1,0,39,270,12,12,...,2,1,1,1,1,2,0,0,1810,760
4,BENE11005,1935-09-01,NaN,1,1,0,24,680,12,12,...,2,1,2,2,2,2,0,0,1790,1200

## Beneficiary nodes

In [7]:
beneficiaries = list(df.BeneID.unique())
beneficiaries[:3]

['BENE11001', 'BENE11002', 'BENE11003']

In [8]:
len(beneficiaries)

138556

In [9]:
bens = [{'idx': x} for x in beneficiaries]

In [38]:
bens[:3]

[{'idx': 'BENE11001'}, {'idx': 'BENE11002'}, {'idx': 'BENE11003'}]

In [39]:
# set constraint on beneficiary node that idx is unique
query="""CREATE CONSTRAINT ON (n:Beneficiary) ASSERT n.idx IS UNIQUE"""

In [ ]:
db.run(query)

In [41]:
query = """
    UNWIND $bens AS ben
    MERGE (b:Beneficiary {idx: ben.idx})
        """
db.run(query, {"bens":bens})

(No data)

## Provider nodes

In [6]:
df_in = pd.read_csv("data/Train_Inpatientdata-1542865627584.csv")

In [7]:
df_in.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'AdmissionDt', 'ClmAdmitDiagnosisCode',
       'DeductibleAmtPaid', 'DischargeDt', 'DiagnosisGroupCode',
       'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3',
       'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6',
       'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9',
       'ClmDiagnosisCode_10', 'ClmProcedureCode_1', 'ClmProcedureCode_2',
       'ClmProcedureCode_3', 'ClmProcedureCode_4', 'ClmProcedureCode_5',
       'ClmProcedureCode_6'],
      dtype='object')

In [8]:
df_out = pd.read_csv("data/Train_Outpatientdata-1542865627584.csv")

In [9]:
df_out.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2',
       'ClmDiagnosisCode_3', 'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5',
       'ClmDiagnosisCode_6', 'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8',
       'ClmDiagnosisCode_9', 'ClmDiagnosisCode_10', 'ClmProcedureCode_1',
       'ClmProcedureCode_2', 'ClmProcedureCode_3', 'ClmProcedureCode_4',
       'ClmProcedureCode_5', 'ClmProcedureCode_6', 'DeductibleAmtPaid',
       'ClmAdmitDiagnosisCode'],
      dtype='object')

In [14]:
providers = list(set(list(df_in.Provider.unique()) + list(df_out.Provider.unique())))

In [19]:
len(providers)

5410

In [20]:
providers[:4]

['PRV57088', 'PRV57251', 'PRV56718', 'PRV53015']

In [21]:
provs=[{"idx": x} for x in providers]

In [22]:
# set constraint on beneficiary node that idx is unique
query="""CREATE CONSTRAINT ON (n:Provider) ASSERT n.idx IS UNIQUE"""

In [23]:
db.run(query)

(No data)

In [24]:
query = """
    UNWIND $provs AS prov
    MERGE (b:Provider {idx: prov.idx})
        """
db.run(query, {"provs":provs})

(No data)

## (Provider)-[:HAS_BENEFICIARY]->(Beneficiary)

In [10]:
df_in["type"]="Inpatient"

In [11]:
df_out['type']="Outpatient"

In [12]:
df_all=df_in.append(df_out)

In [28]:
len(df_all)

558211

In [29]:
df_all.type.value_counts()

Outpatient    517737
Inpatient      40474
Name: type, dtype: int64

In [30]:
len(df_in)

40474

In [31]:
len(df_out)

517737

In [23]:
grp=df_all.groupby(['Provider','BeneID'])['ClaimID'].count()

In [24]:
grp=grp.reset_index()

In [25]:
grp.head()

   Provider      BeneID  ClaimID
0  PRV51001  BENE102690        1
1  PRV51001  BENE106078        1
2  PRV51001   BENE11727        1
3  PRV51001  BENE123416        1
4  PRV51001  BENE126477        1

In [35]:
grp['ClaimID'].value_counts()

1     274312
2      46849
3      18330
4       9347
5       5303
6       3255
7       2105
8       1350
9        888
10       566
11       379
12       222
13       143
14        92
15        61
16        41
17        26
18        15
19         8
20         3
21         2
23         2
28         1
Name: ClaimID, dtype: int64

In [36]:
rels = [{'origin':x[1]['Provider'],
       'target': x[1]['BeneID']} for x in grp.iterrows()]

In [37]:
len(rels)

363300

In [38]:
query = """
    UNWIND $rels AS rel
    MATCH (e1:Provider {idx: rel.origin})
    MATCH (e2:Beneficiary {idx: rel.target}) 
    MERGE (e1)-[m:HAS_BENEFICIARY]->(e2)"""

db.run(query, {"rels":rels})

(No data)

## Race nodes

In [39]:
races= list(df.Race.unique())

In [40]:
races

[1, 2, 3, 5]

In [41]:
rs = [{"race": int(x),
     "idx": i}  for (i,x) in enumerate(races)]

In [42]:
rs

[{'race': 1, 'idx': 0},
 {'race': 2, 'idx': 1},
 {'race': 3, 'idx': 2},
 {'race': 5, 'idx': 3}]

In [43]:
query=""" CREATE CONSTRAINT ON (r:Race) ASSERT r.idx is UNIQUE """

In [44]:
db.run(query)

(No data)

In [45]:
query = """
    UNWIND $rs AS r
    MERGE (b:Race {idx: r.idx, race: r.race})
        """
db.run(query, {"rs":rs})

(No data)

In [46]:
query = """
    MATCH (r:Race)
    RETURN * """
db.run(query).to_table()

 r
----------------------------------
 (_143966:Race {idx: 0, race: 1})
 (_143967:Race {idx: 1, race: 2})
 (_143968:Race {idx: 2, race: 3})
 (_143969:Race {idx: 3, race: 5})

## (Beneficiary)-[:HAS_RACE]->(Race)

In [47]:
grp=df[['BeneID','Race']]

In [48]:
grp

            BeneID  Race
0        BENE11001     1
1        BENE11002     1
2        BENE11003     1
3        BENE11004     1
4        BENE11005     1
...            ...   ...
138551  BENE159194     1
138552  BENE159195     1
138553  BENE159196     1
138554  BENE159197     1
138555  BENE159198     1

[138556 rows x 2 columns]

In [49]:
rels = [{'origin': x[1]['BeneID'],
       'target':  x[1]['Race']} for x in grp.iterrows()]

In [50]:
query = """
    UNWIND $rels AS rel
    MATCH (e1:Beneficiary {idx: rel.origin})
    MATCH (e2:Race {idx: rel.target}) 
    MERGE (e1)-[m:HAS_RACE]->(e2)"""

db.run(query, {"rels":rels})

(No data)

## Gender

In [51]:
genders=list(df.Gender.unique())

In [52]:
genders

[1, 2]

In [53]:
gs = [{"gender": int(x),
     "idx" : i} for (i,x) in enumerate(genders)]

In [54]:
gs

[{'gender': 1, 'idx': 0}, {'gender': 2, 'idx': 1}]

In [55]:
query="""CREATE CONSTRAINT ON (n:Gender) ASSERT n.idx IS UNIQUE"""

In [56]:
db.run(query)

(No data)

In [57]:
query = """
    UNWIND $gs AS g
    MERGE (b:Gender {idx: g.idx, gender: g.gender})
        """
db.run(query, {"gs":gs})

(No data)

## (Beneficiary)-[:HAS_GENDER]->(Gender)

In [58]:
grp=df[['BeneID','Gender']]

In [59]:
grp

            BeneID  Gender
0        BENE11001       1
1        BENE11002       2
2        BENE11003       1
3        BENE11004       1
4        BENE11005       1
...            ...     ...
138551  BENE159194       1
138552  BENE159195       2
138553  BENE159196       2
138554  BENE159197       1
138555  BENE159198       2

[138556 rows x 2 columns]

In [60]:
rels = [{'origin': x[1]['BeneID'],
       'target':  x[1]['Gender']} for x in grp.iterrows()]

In [61]:
query = """
    UNWIND $rels AS rel
    MATCH (e1:Beneficiary {idx: rel.origin})
    MATCH (e2:Gender {idx: rel.target}) 
    MERGE (e1)-[m:HAS_GENDER]->(e2)"""

db.run(query, {"rels":rels})

(No data)

## State

In [62]:
states=list(df.State.unique())

In [63]:
sts = [{"state": int(x),
     "idx" : i} for (i,x) in enumerate(states)]

In [64]:
query="""CREATE CONSTRAINT ON (n:State) ASSERT n.idx IS UNIQUE"""

In [65]:
db.run(query)

(No data)

In [66]:
query = """
    UNWIND $sts AS st
    MERGE (b:State {idx: st.idx, state: st.state})
        """
db.run(query, {"sts":sts})

(No data)

## (Beneficiary)-[:HOME_STATE]->(STATE)

In [67]:
grp=df[['BeneID','State']]

In [68]:
grp

            BeneID  State
0        BENE11001     39
1        BENE11002     39
2        BENE11003     52
3        BENE11004     39
4        BENE11005     24
...            ...    ...
138551  BENE159194     39
138552  BENE159195     49
138553  BENE159196      6
138554  BENE159197     16
138555  BENE159198     21

[138556 rows x 2 columns]

In [69]:
rels = [{'origin': x[1]['BeneID'],
       'target':  x[1]['State']} for x in grp.iterrows()]

In [70]:
query = """
    UNWIND $rels AS rel
    MATCH (e1:Beneficiary {idx: rel.origin})
    MATCH (e2:State {idx: rel.target}) 
    MERGE (e1)-[m:HOME_STATE]->(e2)"""

db.run(query, {"rels":rels})

(No data)

## County

In [71]:
counties=list(df.County.unique())

In [72]:
cts = [{"county": int(x),
     "idx" : i} for (i,x) in enumerate(counties)]

In [73]:
query="""CREATE CONSTRAINT ON (n:County) ASSERT n.idx IS UNIQUE"""

In [74]:
db.run(query)

(No data)

In [75]:
query = """
    UNWIND $cts AS ct
    MERGE (b:County {idx: ct.idx, county: ct.county})
        """
db.run(query, {"cts":cts})

(No data)

## (Beneficiary)-[:HOME_COUNTY]->(County)

In [76]:
grp=df[['BeneID','County']]

In [77]:
grp

            BeneID  County
0        BENE11001     230
1        BENE11002     280
2        BENE11003     590
3        BENE11004     270
4        BENE11005     680
...            ...     ...
138551  BENE159194     140
138552  BENE159195     530
138553  BENE159196     150
138554  BENE159197     560
138555  BENE159198      20

[138556 rows x 2 columns]

In [78]:
rels = [{'origin': x[1]['BeneID'],
       'target':  x[1]['County']} for x in grp.iterrows()]

In [79]:
query = """
    UNWIND $rels AS rel
    MATCH (e1:Beneficiary {idx: rel.origin})
    MATCH (e2:County {idx: rel.target}) 
    MERGE (e1)-[m:HOME_COUNTY]->(e2)"""

db.run(query, {"rels":rels})

(No data)

## (County)-[:BELONGS_TO]->(State)

In [53]:
grp=df[['County','State']]

In [54]:
rels = [{'origin': int(x[1]['County']),
       'target':  int(x[1]['State'])} for x in grp.iterrows()]

In [26]:
rels[31]

{'origin': 760, 'target': 34}

In [55]:
query = """
    UNWIND $rels AS rel
    MATCH (e1:County {idx: rel.origin})
    MATCH (e2:State {idx: rel.target}) 
    MERGE (e1)-[m:BELONGS_TO]->(e2)"""

In [56]:
db.run(query, {"rels":rels})

(No data)

## Months_PartA

In [80]:
Amonths=list(df.NoOfMonths_PartACov.unique())

In [81]:
ams = [{"Months_PartA": int(x),
     "idx" : i} for (i,x) in enumerate(Amonths)]

In [82]:
query="""CREATE CONSTRAINT ON (n:Months_PartA) ASSERT n.idx IS UNIQUE"""

In [83]:
db.run(query)

(No data)

In [84]:
query = """
    UNWIND $ams AS am
    MERGE (b:Months_PartA {idx: am.idx, Months_PartA: am.Months_PartA})
        """
db.run(query, {"ams":ams})

(No data)

## (Beneficiary)-[:HAS_COVERAGE_A]->(Months_PartA)

In [85]:
grp=df[['BeneID','NoOfMonths_PartACov']]

In [86]:
grp

            BeneID  NoOfMonths_PartACov
0        BENE11001                   12
1        BENE11002                   12
2        BENE11003                   12
3        BENE11004                   12
4        BENE11005                   12
...            ...                  ...
138551  BENE159194                   12
138552  BENE159195                   12
138553  BENE159196                   12
138554  BENE159197                   12
138555  BENE159198                   12

[138556 rows x 2 columns]

In [87]:
rels = [{'origin': x[1]['BeneID'],
       'target':  x[1]['NoOfMonths_PartACov']} for x in grp.iterrows()]

In [88]:
query = """
    UNWIND $rels AS rel
    MATCH (e1:Beneficiary {idx: rel.origin})
    MATCH (e2:Months_PartA {idx: rel.target}) 
    MERGE (e1)-[m:HAS_COVERAGE_A]->(e2)"""

db.run(query, {"rels":rels})

(No data)

## Months_PartB

In [89]:
Bmonths=list(df.NoOfMonths_PartBCov.unique())

In [90]:
bms = [{"Months_PartB": int(x),
     "idx" : i} for (i,x) in enumerate(Bmonths)]

In [91]:
query="""CREATE CONSTRAINT ON (n:Months_PartB) ASSERT n.idx IS UNIQUE"""

In [92]:
db.run(query)

(No data)

In [93]:
query = """
    UNWIND $bms AS bm
    MERGE (b:Months_PartB {idx: bm.idx, Months_PartB: bm.Months_PartB})
        """
db.run(query, {"bms":bms})

(No data)

## (Beneficiary)-[:HAS_COVERAGE_B]->(Months_PartB)

In [94]:
grp=df[['BeneID','NoOfMonths_PartBCov']]

In [95]:
rels = [{'origin': x[1]['BeneID'],
       'target':  x[1]['NoOfMonths_PartBCov']} for x in grp.iterrows()]

In [96]:
query = """
    UNWIND $rels AS rel
    MATCH (e1:Beneficiary {idx: rel.origin})
    MATCH (e2:Months_PartB {idx: rel.target}) 
    MERGE (e1)-[m:HAS_COVERAGE_B]->(e2)"""

db.run(query, {"rels":rels})

(No data)

## RenalDiseaseIndicator

In [97]:
renals=list(df.RenalDiseaseIndicator.unique())

In [98]:
renals

['0', 'Y']

In [99]:
rns = [{"Renal_Disease": x,
     "idx" : i} for (i,x) in enumerate(renals)]

In [100]:
query="""CREATE CONSTRAINT ON (n:Renal_Disease) ASSERT n.idx IS UNIQUE"""

In [101]:
db.run(query)

(No data)

In [102]:
query = """
    UNWIND $rns AS rn
    MERGE (b:Renal_Disease {idx: rn.idx, Renal_Disease: rn.Renal_Disease})
        """
db.run(query, {"rns":rns})

(No data)

## (Beneficiary)-[:HAS_CHRONIC_R]->(Renal_Disease)

In [103]:
grp=df[['BeneID','RenalDiseaseIndicator']]

In [104]:
rels = [{'origin': x[1]['BeneID'],
       'target':  x[1]['RenalDiseaseIndicator']} for x in grp.iterrows()]

In [105]:
query = """
    UNWIND $rels AS rel
    MATCH (e1:Beneficiary {idx: rel.origin})
    MATCH (e2:Renal_Disease {idx: rel.target}) 
    MERGE (e1)-[m:HAS_CHRONIC_R]->(e2)"""

db.run(query, {"rels":rels})

(No data)

## ChronicCond_Alzheimer

In [106]:
alzheimers=list(df.ChronicCond_Alzheimer.unique())

In [107]:
alzs = [{"ChronicCond_Alzheimer": int(x),
     "idx" : i} for (i,x) in enumerate(alzheimers)]

In [108]:
query="""CREATE CONSTRAINT ON (n:ChronicCond_Alzheimer) ASSERT n.idx IS UNIQUE"""

In [109]:
db.run(query)

(No data)

In [110]:
query = """
    UNWIND $alzs AS alz
    MERGE (b:ChronicCond_Alzheimer {idx: alz.idx, ChronicCond_Alzheimer: alz.ChronicCond_Alzheimer})
        """
db.run(query, {"alzs":alzs})

(No data)

## (Beneficiary)-[:HAS_CHRONIC_A]->(ChronicCond_Alzheimer)

In [111]:
grp=df[['BeneID','ChronicCond_Alzheimer']]

In [112]:
grp

            BeneID  ChronicCond_Alzheimer
0        BENE11001                      1
1        BENE11002                      2
2        BENE11003                      1
3        BENE11004                      1
4        BENE11005                      2
...            ...                    ...
138551  BENE159194                      1
138552  BENE159195                      1
138553  BENE159196                      2
138554  BENE159197                      1
138555  BENE159198                      1

[138556 rows x 2 columns]

In [113]:
rels = [{'origin': x[1]['BeneID'],
       'target':  x[1]['ChronicCond_Alzheimer']} for x in grp.iterrows()]

In [114]:
query = """
    UNWIND $rels AS rel
    MATCH (e1:Beneficiary {idx: rel.origin})
    MATCH (e2:ChronicCond_Alzheimer {idx: rel.target}) 
    MERGE (e1)-[m:HAS_CHRONIC_A]->(e2)"""

db.run(query, {"rels":rels})

(No data)

## ChronicCond_Heartfailure

In [115]:
hearts=list(df.ChronicCond_Heartfailure.unique())

In [116]:
hs = [{"ChronicCond_Heartfailure": int(x),
     "idx" : i} for (i,x) in enumerate(hearts)]

In [117]:
query="""CREATE CONSTRAINT ON (n:ChronicCond_Heartfailure) ASSERT n.idx IS UNIQUE"""

In [118]:
db.run(query)

(No data)

In [119]:
query = """
    UNWIND $hs AS h
    MERGE (b:ChronicCond_Heartfailure {idx: h.idx, ChronicCond_Heartfailure: h.ChronicCond_Heartfailure})
        """
db.run(query, {"hs":hs})

(No data)

## (Beneficiary)-[:HAS_CHRONIC_H]->(ChronicCond_Heartfailure)

In [120]:
grp=df[['BeneID','ChronicCond_Heartfailure']]

In [121]:
rels = [{'origin': x[1]['BeneID'],
       'target':  x[1]['ChronicCond_Heartfailure']} for x in grp.iterrows()]

In [122]:
query = """
    UNWIND $rels AS rel
    MATCH (e1:Beneficiary {idx: rel.origin})
    MATCH (e2:ChronicCond_Heartfailure {idx: rel.target}) 
    MERGE (e1)-[m:HAS_CHRONIC_H]->(e2)"""

db.run(query, {"rels":rels})

(No data)

## ChronicCond_KidneyDisease

In [123]:
kidneys=list(df.ChronicCond_KidneyDisease.unique())

In [124]:
ks = [{"ChronicCond_KidneyDisease": int(x),
     "idx" : i} for (i,x) in enumerate(kidneys)]

In [125]:
query="""CREATE CONSTRAINT ON (n:ChronicCond_KidneyDisease) ASSERT n.idx IS UNIQUE"""

In [126]:
db.run(query)

(No data)

In [127]:
query = """
    UNWIND $ks AS k
    MERGE (b:ChronicCond_KidneyDisease {idx: k.idx, ChronicCond_KidneyDisease: k.ChronicCond_KidneyDisease})
        """
db.run(query, {"ks":ks})

(No data)

## (Beneficiary)-[:HAS_CHRONIC_K]->(ChronicCond_KidneyDisease)

In [128]:
grp=df[['BeneID','ChronicCond_KidneyDisease']]

In [129]:
rels = [{'origin': x[1]['BeneID'],
       'target':  x[1]['ChronicCond_KidneyDisease']} for x in grp.iterrows()]

In [130]:
query = """
    UNWIND $rels AS rel
    MATCH (e1:Beneficiary {idx: rel.origin})
    MATCH (e2:ChronicCond_KidneyDisease {idx: rel.target}) 
    MERGE (e1)-[m:HAS_CHRONIC_K]->(e2)"""

db.run(query, {"rels":rels})

(No data)

## IsFraudulent

In [31]:
providers=pd.read_csv("data/Train-1542865627584.csv")

In [56]:
providers

      Provider PotentialFraud
0     PRV51001             No
1     PRV51003            Yes
2     PRV51004             No
3     PRV51005            Yes
4     PRV51007             No
...        ...            ...
5405  PRV57759             No
5406  PRV57760             No
5407  PRV57761             No
5408  PRV57762             No
5409  PRV57763             No

[5410 rows x 2 columns]

In [69]:
fraudulents=list(providers.PotentialFraud.unique())

In [70]:
fraudulents

['No', 'Yes']

In [71]:
fs = [{"IsFraudulent": x,
     "idx" : i} for (i,x) in enumerate(fraudulents)]

In [136]:
query="""CREATE CONSTRAINT ON (n:IsFraudulent) ASSERT n.idx IS UNIQUE"""

In [137]:
db.run(query)

(No data)

In [138]:
query = """
    UNWIND $fs AS f
    MERGE (b:IsFraudulent {idx: f.idx, IsFraudulent: f.IsFraudulent})
        """
db.run(query, {"fs":fs})

(No data)

## (Provider)-[:IS_FRAUDULENT]->(IsFraudulent)

In [32]:
providers

      Provider PotentialFraud
0     PRV51001             No
1     PRV51003            Yes
2     PRV51004             No
3     PRV51005            Yes
4     PRV51007             No
...        ...            ...
5405  PRV57759             No
5406  PRV57760             No
5407  PRV57761             No
5408  PRV57762             No
5409  PRV57763             No

[5410 rows x 2 columns]

In [33]:
rels = [{'origin': x[1]['Provider'],
       'target':  x[1]['PotentialFraud']} for x in providers.iterrows()]

In [34]:
query = """

       UNWIND $rels as rel
       MATCH (e1:Provider {idx: rel.origin})
       SET e1.FRAUD = rel.target

"""

In [35]:
db.run(query, {'rels': rels})

(No data)

In [74]:
query = """
    UNWIND $rels as rel
    MATCH (e1:Provider {idx: rel.origin})
    MATCH (e2:IsFraudulent {IsFraudulent: rel.target})
    MERGE (e1)-[m:IS_FRAUD]->(e2)

"""
db.run(query, {'rels': rels}).to_table()

## Claim nodes

In [28]:
df_all

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,type
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Inpatient
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN,Inpatient
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Inpatient
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,...,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN,Inpatient
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,...,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN,Inpatient
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517732,BENE159198,CLM510792,2009-08-06,2009-08-06,PRV53699,800,PHY364188,PHY364188,PHY385752,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Outpatient
517733,BENE159198,CLM551294,2009-08-29,2009-08-29,PRV53702,400,PHY423019,PHY332284,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Outpatient
517734,BENE159198,CLM596444,2009-09-24,2009-09-24,PRV53676,60,PHY361063,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Outpatient
517735,BENE159198,CLM636992,2009-10-18,2009-10-18,PRV53689,70,PHY403198,NaN,PHY419379,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Outpatient
517736,BENE159198,CLM686139,2009-11-17,2009-11-18,PRV53689,80,PHY419379,NaN,PHY419379,NaN,...,V103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Outpatient

In [53]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 558211 entries, 0 to 517736
Data columns (total 31 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   BeneID                  558211 non-null  object
 1   ClaimID                 558211 non-null  object
 2   ClaimStartDt            558211 non-null  object
 3   ClaimEndDt              558211 non-null  object
 4   Provider                558211 non-null  object
 5   InscClaimAmtReimbursed  558211 non-null  int64
 6   AttendingPhysician      556703 non-null  object
 7   OperatingPhysician      114447 non-null  object
 8   OtherPhysician          199736 non-null  object
 9   AdmissionDt             40474 non-null   object
 10  ClmAdmitDiagnosisCode   145899 non-null  object
 11  DeductibleAmtPaid       557312 non-null  float64
 12  DischargeDt             40474 non-null   object
 13  DiagnosisGroupCode      40474 non-null   object
 14  ClmDiagnosisCode_1      547758 non-null  object
 15  ClmDiagnosisCode_2      362605 non-null  object
 16  ClmDiagnosisCode_3      243055 non-null  object
 17  ClmDiagnosisCode_4      164536 non-null  object
 18  ClmDiagnosisCode_5      111924 non-null  object
 19  ClmDiagnosisCode_6      84392 non-null   object
 20  ClmDiagnosisCode_7      66177 non-null   object
 21  ClmDiagnosisCode_8      53444 non-null   object
 22  ClmDiagnosisCode_9      41815 non-null   object
 23  ClmDiagnosisCode_10     5010 non-null    object
 24  ClmProcedureCode_1      23310 non-null   float64
 25  ClmProcedureCode_2      5490 non-null    float64
 26  ClmProcedureCode_3      969 non-null     float64
 27  ClmProcedureCode_4      118 non-null     float64
 28  ClmProcedureCode_5      9 non-null       float64
 29  ClmProcedureCode_6      0 non-null       float64
 30  type                    558211 non-null  object
dtypes: float64(7), int64(1), object(23)
memory usage: 136.3+ MB

In [15]:
claims = list(df_all.ClaimID.unique())
claims[:3]

['CLM46614', 'CLM66048', 'CLM68358']

In [16]:
len(claims)

558211

In [17]:
clms = [{'idx': x} for x in claims]

In [18]:
clms[:3]

[{'idx': 'CLM46614'}, {'idx': 'CLM66048'}, {'idx': 'CLM68358'}]

In [19]:
# set constraint on claim node that idx is unique
query="""CREATE CONSTRAINT ON (n:Claim) ASSERT n.idx IS UNIQUE"""

In [155]:
db.run(query)

(No data)

In [20]:
query = """CALL apoc.periodic.iterate(
    'UNWIND $clms AS clm MERGE (b:Claim {idx: clm.idx}) RETURN b',
    'WITH b RETURN count(b)',
    {batchSize:100, parallel:false, params: {clms:$clms}})"""

In [24]:
i=0
while i < len(claims):
    db.run(query, {"clms":clms[i:i+5000]}).to_table()
    i=i+5000

## Physician nodes:

In [34]:
phy_df = df_all[df_all['AttendingPhysician'].notna()]

In [36]:
physicians = list(phy_df.AttendingPhysician.unique())
physicians[:3]

['PHY390922', 'PHY318495', 'PHY372395']

In [37]:
len(physicians)

82063

In [38]:
phs = [{'idx': x} for x in physicians]

In [39]:
# set constraint on beneficiary node that idx is unique
query="""CREATE CONSTRAINT ON (n:Physician) ASSERT n.idx IS UNIQUE"""

In [146]:
db.run(query)

(No data)

In [40]:
query = """
    UNWIND $phs AS ph
    MERGE (b:Physician {idx: ph.idx})
        """
db.run(query, {"phs":phs})

(No data)

## (Provider)-[:HAS_WORKED_WITH]->(Physician)

In [41]:
grp=df_all.groupby(['Provider','AttendingPhysician'])['ClaimID'].count()

In [42]:
grp=grp.reset_index()

In [43]:
grp

       Provider AttendingPhysician  ClaimID
0      PRV51001          PHY311126        1
1      PRV51001          PHY318842        1
2      PRV51001          PHY340163        1
3      PRV51001          PHY345302        4
4      PRV51001          PHY346762        1
...         ...                ...      ...
87900  PRV57760          PHY398330        4
87901  PRV57761          PHY354815       68
87902  PRV57761          PHY367727       14
87903  PRV57762          PHY432730        1
87904  PRV57763          PHY321072      118

[87905 rows x 3 columns]

In [44]:
rels = [{'origin':x[1]['Provider'],
       'target': x[1]['AttendingPhysician']} for x in grp.iterrows()]

In [45]:
query = """
    UNWIND $rels AS rel
    MATCH (e1:Provider {idx: rel.origin})
    MATCH (e2:Physician {idx: rel.target}) 
    MERGE (e1)-[m:HAS_WORKED_WITH]->(e2)"""

db.run(query, {"rels":rels})

(No data)

## Type Node

In [46]:
types=list(df_all.type.unique())

In [47]:
types

['Inpatient', 'Outpatient']

In [48]:
ts = [{"Type": x,
     "idx" : i} for (i,x) in enumerate(types)]

In [49]:
ts

[{'Type': 'Inpatient', 'idx': 0}, {'Type': 'Outpatient', 'idx': 1}]

In [50]:
query="""CREATE CONSTRAINT ON (n:Type) ASSERT n.idx IS UNIQUE"""

In [51]:
db.run(query)

(No data)

In [52]:
query = """
    UNWIND $ts AS t
    MERGE (b:Type {idx: t.idx, Type: t.Type})
        """
db.run(query, {"ts":ts})

(No data)

## (Claim)-[:HAS_TYPE]->(Type)

In [18]:
grp=df_all[['ClaimID','type']]

In [19]:
rels = [{'origin': x[1]['ClaimID'],
       'target':  x[1]['type']} for x in grp.iterrows()]

In [20]:
len(rels)

558211

In [21]:
query = """
    CALL apoc.periodic.iterate(
    'UNWIND $rels AS rel
    MATCH (e1:Claim {idx: rel.origin})
    MATCH (e2:Type {Type: rel.target}) 
    MERGE (e1)-[m:HAS_TYPE]->(e2) RETURN m', 
    'WITH m RETURN count(m)',
    {batchSize:100, parallel:false, params: {rels:$rels}})
    """

In [22]:
i=0
while i < len(df_all):
    db.run(query, {"rels":rels[i:i+5000]}).to_table()
    i=i+5000

## (Provider)-[:HAS_CLAIM]->(Claim)

In [37]:
grp=df_all[['ClaimID','Provider']]

In [38]:
rels = [{'origin': x[1]['Provider'],
       'target':  x[1]['ClaimID']} for x in grp.iterrows()]

In [39]:
len(rels)

558211

In [40]:
query = """
    CALL apoc.periodic.iterate(
    'UNWIND $rels AS rel
    MATCH (e1:Provider {idx: rel.origin})
    MATCH (e2:Claim {idx: rel.target}) 
    MERGE (e1)-[m:P_HAS_CLAIM]->(e2) RETURN m', 
    'WITH m RETURN count(m)',
    {batchSize:100, parallel:false, params: {rels:$rels}})
    """

In [41]:
i=0
while i < len(df_all):
    db.run(query, {"rels":rels[i:i+5000]}).to_table()
    i=i+5000

## (Beneficiary)-[:HAS_CLAIM]->(Claim)

In [33]:
grp=df_all[['ClaimID','BeneID']]

In [34]:
rels = [{'origin': x[1]['BeneID'],
       'target':  x[1]['ClaimID']} for x in grp.iterrows()]

In [35]:
query = """
    CALL apoc.periodic.iterate(
    'UNWIND $rels AS rel
    MATCH (e1:Beneficiary {idx: rel.origin})
    MATCH (e2:Claim {idx: rel.target}) 
    MERGE (e1)-[m:HAS_CLAIM]->(e2) RETURN m', 
    'WITH m RETURN count(m)',
    {batchSize:100, parallel:false, params: {rels:$rels}})
    """

In [36]:
i=0
while i < len(df_all):
    db.run(query, {"rels":rels[i:i+5000]}).to_table()
    i=i+5000

## (Claim)-[:HAS_ATTENDING]->(Physician)

In [13]:
grp=df_all[['ClaimID','AttendingPhysician']]

In [14]:
rels = [{'origin': x[1]['ClaimID'],
       'target':  x[1]['AttendingPhysician']} for x in grp.iterrows()]

In [15]:
query = """
    CALL apoc.periodic.iterate(
    'UNWIND $rels AS rel
    MATCH (e1:Claim {idx: rel.origin})
    MATCH (e2:Physician {idx: rel.target}) 
    MERGE (e1)-[m:HAS_ATTENDING]->(e2) RETURN m', 
    'WITH m RETURN count(m)',
    {batchSize:100, parallel:false, params: {rels:$rels}})
    """

In [16]:
i=0
while i < len(df_all):
    db.run(query, {"rels":rels[i:i+5000]}).to_table()
    i=i+5000

## Diagnosis Node:

In [14]:
df_all.dtypes

BeneID                     object
ClaimID                    object
ClaimStartDt               object
ClaimEndDt                 object
Provider                   object
InscClaimAmtReimbursed      int64
AttendingPhysician         object
OperatingPhysician         object
OtherPhysician             object
AdmissionDt                object
ClmAdmitDiagnosisCode      object
DeductibleAmtPaid         float64
DischargeDt                object
DiagnosisGroupCode         object
ClmDiagnosisCode_1         object
ClmDiagnosisCode_2         object
ClmDiagnosisCode_3         object
ClmDiagnosisCode_4         object
ClmDiagnosisCode_5         object
ClmDiagnosisCode_6         object
ClmDiagnosisCode_7         object
ClmDiagnosisCode_8         object
ClmDiagnosisCode_9         object
ClmDiagnosisCode_10        object
ClmProcedureCode_1        float64
ClmProcedureCode_2        float64
ClmProcedureCode_3        float64
ClmProcedureCode_4        float64
ClmProcedureCode_5        float64
ClmProcedureCode_6        float64
type                       object
dtype: object

In [18]:
D1=list(df_all['ClmDiagnosisCode_1'].unique())
D2=list(df_all['ClmDiagnosisCode_2'].unique())
D3=list(df_all['ClmDiagnosisCode_3'].unique())
D4=list(df_all['ClmDiagnosisCode_4'].unique())
D5=list(df_all['ClmDiagnosisCode_5'].unique())
D6=list(df_all['ClmDiagnosisCode_6'].unique())
D7=list(df_all['ClmDiagnosisCode_7'].unique())
D8=list(df_all['ClmDiagnosisCode_8'].unique())
D9=list(df_all['ClmDiagnosisCode_9'].unique())
D10=list(df_all['ClmDiagnosisCode_10'].unique())
D=D1+D2+D3+D4+D5+D6+D7+D8+D9+D10
D=set(D)

In [19]:
D=list(D)
diagnosis=D[1:]

In [22]:
ds = [{"Diagnosis": x,
     "idx" : i} for (i,x) in enumerate(diagnosis)]

In [26]:
ds

[{'Diagnosis': '09949', 'idx': 0},
 {'Diagnosis': '9644', 'idx': 1},
 {'Diagnosis': '7572', 'idx': 2},
 {'Diagnosis': '52470', 'idx': 3},
 {'Diagnosis': '1737', 'idx': 4},
 {'Diagnosis': '2881', 'idx': 5},
 {'Diagnosis': '20942', 'idx': 6},
 {'Diagnosis': '37556', 'idx': 7},
 {'Diagnosis': '80395', 'idx': 8},
 {'Diagnosis': 'E9455', 'idx': 9},
 {'Diagnosis': '0859', 'idx': 10},
 {'Diagnosis': '33912', 'idx': 11},
 {'Diagnosis': '2330', 'idx': 12},
 {'Diagnosis': '24201', 'idx': 13},
 {'Diagnosis': 'V6407', 'idx': 14},
 {'Diagnosis': '71640', 'idx': 15},
 {'Diagnosis': '80517', 'idx': 16},
 {'Diagnosis': '20082', 'idx': 17},
 {'Diagnosis': '73741', 'idx': 18},
 {'Diagnosis': '1899', 'idx': 19},
 {'Diagnosis': '64821', 'idx': 20},
 {'Diagnosis': '5810', 'idx': 21},
 {'Diagnosis': '87261', 'idx': 22},
 {'Diagnosis': '00866', 'idx': 23},
 {'Diagnosis': '84209', 'idx': 24},
 {'Diagnosis': '7100', 'idx': 25},
 {'Diagnosis': 'E8796', 'idx': 26},
 {'Diagnosis': '2148', 'idx': 27},
 {'Diagnosis': '9801', 'idx': 28},
 {'Diagnosis': '36442', 'idx': 29},
 {'Diagnosis': '65413', 'idx': 30},
 {'Diagnosis': '25083', 'idx': 31},
 {'Diagnosis': '30503', 'idx': 32},
 {'Diagnosis': '73311', 'idx': 33},
 {'Diagnosis': '7397', 'idx': 34},
 {'Diagnosis': '61804', 'idx': 35},
 {'Diagnosis': '71590', 'idx': 36},
 {'Diagnosis': 'V1351', 'idx': 37},
 {'Diagnosis': '20402', 'idx': 38},
 {'Diagnosis': '65801', 'idx': 39},
 {'Diagnosis': '9624', 'idx': 40},
 {'Diagnosis': '87332', 'idx': 41},
 {'Diagnosis': '496', 'idx': 42},
 {'Diagnosis': '82331', 'idx': 43},
 {'Diagnosis': '1232', 'idx': 44},
 {'Diagnosis': '81313', 'idx': 45},
 {'Diagnosis': '59984', 'idx': 46},
 {'Diagnosis': '36815', 'idx': 47},
 {'Diagnosis': '74601', 'idx': 48},
 {'Diagnosis': '2245', 'idx': 49},
 {'Diagnosis': 'V570', 'idx': 50},
 {'Diagnosis': 'E9294', 'idx': 51},
 {'Diagnosis': '75442', 'idx': 52},
 {'Diagnosis': '2893', 'idx': 53},
 {'Diagnosis': '8676', 'idx': 54},
 {'Diagnosis': '71288', 'idx': 55},
 {'Diagnosis': '37250', 'idx': 56},
 {'Diagnosis': 'V774', 'idx': 57},
 {'Diagnosis': '481', 'idx': 58},
 {'Diagnosis': '2719', 'idx': 59},
 {'Diagnosis': '0701', 'idx': 60},
 {'Diagnosis': '72479', 'idx': 61},
 {'Diagnosis': '56941', 'idx': 62},
 {'Diagnosis': '7010', 'idx': 63},
 {'Diagnosis': '72611', 'idx': 64},
 {'Diagnosis': '78843', 'idx': 65},
 {'Diagnosis': '4131', 'idx': 66},
 {'Diagnosis': '32759', 'idx': 67},
 {'Diagnosis': '8782', 'idx': 68},
 {'Diagnosis': '71530', 'idx': 69},
 {'Diagnosis': '75531', 'idx': 70},
 {'Diagnosis': '3570', 'idx': 71},
 {'Diagnosis': '72081', 'idx': 72},
 {'Diagnosis': '36911', 'idx': 73},
 {'Diagnosis': 'V1000', 'idx': 74},
 {'Diagnosis': '87343', 'idx': 75},
 {'Diagnosis': '78094', 'idx': 76},
 {'Diagnosis': 'E8742', 'idx': 77},
 {'Diagnosis': '0066', 'idx': 78},
 {'Diagnosis': '1465', 'idx': 79},
 {'Diagnosis': '9134', 'idx': 80},
 {'Diagnosis': '60881', 'idx': 81},
 {'Diagnosis': '67582', 'idx': 82},
 {'Diagnosis': '1954', 'idx': 83},
 {'Diagnosis': '20162', 'idx': 84},
 {'Diagnosis': '80120', 'idx': 85},
 {'Diagnosis': '7885', 'idx': 86},
 {'Diagnosis': '25631', 'idx': 87},
 {'Diagnosis': '37630', 'idx': 88},
 {'Diagnosis': '48231', 'idx': 89},
 {'Diagnosis': '0723', 'idx': 90},
 {'Diagnosis': '22802', 'idx': 91},
 {'Diagnosis': '94356', 'idx': 92},
 {'Diagnosis': '52102', 'idx': 93},
 {'Diagnosis': 'V0182', 'idx': 94},
 {'Diagnosis': '7105', 'idx': 95},
 {'Diagnosis': '7840', 'idx': 96},
 {'Diagnosis': '79579', 'idx': 97},
 {'Diagnosis': '1368', 'idx': 98},
 {'Diagnosis': '2276', 'idx': 99},
 {'Diagnosis': 'V1789', 'idx': 100},
 {'Diagnosis': '05442', 'idx': 101},
 {'Diagnosis': '73096', 'idx': 102},
 {'Diagnosis': '1888', 'idx': 103},
 {'Diagnosis': '85232', 'idx': 104},
 {'Diagnosis': '73002', 'idx': 105},
 {'Diagnosis': '37613', 'idx': 106},
 {'Diagnosis': '65103', 'idx': 107},
 {'Diagnosis': '5679', 'idx': 108},
 {'Diagnosis': '9770', 'idx': 109},
 {'Diagnosis': '9922', 'idx': 110},
 {'Diagnosis': '5712', 'idx': 111},
 {'Diagnosis': '53311', 'idx': 112},
 {'Diagnosis': '83309', 'idx': 113},
 {'Diagnosis': 'V6105', 'idx': 114},
 {'Diagnosis': '2888', 'idx': 115},
 {'Diagnosis': '5651', 'idx': 116},
 {'Diagnosis': '2112', 'idx': 117},
 {'Diagnosis': '1641', 'idx': 118},
 {'Diagnosis': '37161', 'idx': 119},
 {'Diagnosis': '29625', 'idx': 120},
 {'Diagnosis': 'V090', 'idx': 121},
 {'Diagnosis': '74365', 'idx': 122},
 {'Diagnosis': '85252', 'idx': 123},
 {'Diagnosis': '0390', 'idx': 124},
 {'Diagnosis': '80415', 'idx': 125},
 {'Diagnosis': '83305', 'idx': 126},
 {'Diagnosis': '64962', 'idx': 127},
 {'Diagnosis': '85171', 'idx': 128},
 {'Diagnosis': '30542', 'idx': 129},
 {'Diagnosis': '73087', 'idx': 130},
 {'Diagnosis': '38521', 'idx': 131},
 {'Diagnosis': '5130', 'idx': 132},
 {'Diagnosis': '6203', 'idx': 133},
 {'Diagnosis': '1277', 'idx': 134},
 {'Diagnosis': '72210', 'idx': 135},
 {'Diagnosis': '28803', 'idx': 136},
 {'Diagnosis': '4599', 'idx': 137},
 {'Diagnosis': '83512', 'idx': 138},
 {'Diagnosis': '37274', 'idx': 139},
 {'Diagnosis': '38381', 'idx': 140},
 {'Diagnosis': '0569', 'idx': 141},
 {'Diagnosis': '2399', 'idx': 142},
 {'Diagnosis': 'E956', 'idx': 143},
 {'Diagnosis': '1893', 'idx': 144},
 {'Diagnosis': '64740', 'idx': 145},
 {'Diagnosis': '73034', 'idx': 146},
 {'Diagnosis': '71135', 'idx': 147},
 {'Diagnosis': '2393', 'idx': 148},
 {'Diagnosis': '8053', 'idx': 149},
 {'Diagnosis': '72671', 'idx': 150},
 {'Diagnosis': '8796', 'idx': 151},
 {'Diagnosis': '30521', 'idx': 152},
 {'Diagnosis': '9144', 'idx': 153},
 {'Diagnosis': '2167', 'idx': 154},
 {'Diagnosis': '2842', 'idx': 155},
 {'Diagnosis': '1234', 'idx': 156},
 {'Diagnosis': '36974', 'idx': 157},
 {'Diagnosis': '75524', 'idx': 158},
 {'Diagnosis': '78199', 'idx': 159},
 {'Diagnosis': '37255', 'idx': 160},
 {'Diagnosis': '81342', 'idx': 161},
 {'Diagnosis': '70720', 'idx': 162},
 {'Diagnosis': 'V4977', 'idx': 163},
 {'Diagnosis': '7392', 'idx': 164},
 {'Diagnosis': '74303', 'idx': 165},
 {'Diagnosis': '29592', 'idx': 166},
 {'Diagnosis': '80853', 'idx': 167},
 {'Diagnosis': '85176', 'idx': 168},
 {'Diagnosis': '60021', 'idx': 169},
 {'Diagnosis': '3383', 'idx': 170},
 {'Diagnosis': 'V558', 'idx': 171},
 {'Diagnosis': '3016', 'idx': 172},
 {'Diagnosis': '80063', 'idx': 173},
 {'Diagnosis': '2529', 'idx': 174},
 {'Diagnosis': '81381', 'idx': 175},
 {'Diagnosis': '37254', 'idx': 176},
 {'Diagnosis': '00867', 'idx': 177},
 {'Diagnosis': '4848', 'idx': 178},
 {'Diagnosis': '59582', 'idx': 179},
 {'Diagnosis': '72471', 'idx': 180},
 {'Diagnosis': '66823', 'idx': 181},
 {'Diagnosis': '83511', 'idx': 182},
 {'Diagnosis': '8920', 'idx': 183},
 {'Diagnosis': '3971', 'idx': 184},
 {'Diagnosis': '73070', 'idx': 185},
 {'Diagnosis': '46410', 'idx': 186},
 {'Diagnosis': '1145', 'idx': 187},
 {'Diagnosis': '5192', 'idx': 188},
 {'Diagnosis': '1403', 'idx': 189},
 {'Diagnosis': '7825', 'idx': 190},
 {'Diagnosis': '80355', 'idx': 191},
 {'Diagnosis': '80131', 'idx': 192},
 {'Diagnosis': 'E9501', 'idx': 193},
 {'Diagnosis': '90181', 'idx': 194},
 {'Diagnosis': '79670', 'idx': 195},
 {'Diagnosis': 'V4283', 'idx': 196},
 {'Diagnosis': '5263', 'idx': 197},
 {'Diagnosis': '52801', 'idx': 198},
 {'Diagnosis': '80702', 'idx': 199},
 {'Diagnosis': '1912', 'idx': 200},
 {'Diagnosis': 'V744', 'idx': 201},
 {'Diagnosis': '6869', 'idx': 202},
 {'Diagnosis': '3949', 'idx': 203},
 {'Diagnosis': '74102', 'idx': 204},
 {'Diagnosis': '34540', 'idx': 205},
 {'Diagnosis': '8474', 'idx': 206},
 {'Diagnosis': '30582', 'idx': 207},
 {'Diagnosis': '9871', 'idx': 208},
 {'Diagnosis': '86809', 'idx': 209},
 {'Diagnosis': '6159', 'idx': 210},
 {'Diagnosis': '1531', 'idx': 211},
 {'Diagnosis': 'V739', 'idx': 212},
 {'Diagnosis': '60887', 'idx': 213},
 {'Diagnosis': '9592', 'idx': 214},
 {'Diagnosis': '4429', 'idx': 215},
 {'Diagnosis': '5376', 'idx': 216},
 {'Diagnosis': '94203', 'idx': 217},
 {'Diagnosis': '2534', 'idx': 218},
 {'Diagnosis': '60821', 'idx': 219},
 {'Diagnosis': '1124', 'idx': 220},
 {'Diagnosis': '46619', 'idx': 221},
 {'Diagnosis': '71993', 'idx': 222},
 {'Diagnosis': '99640', 'idx': 223},
 {'Diagnosis': '29699', 'idx': 224},
 {'Diagnosis': '37456', 'idx': 225},
 {'Diagnosis': '37642', 'idx': 226},
 {'Diagnosis': '4465', 'idx': 227},
 {'Diagnosis': '37958', 'idx': 228},
 {'Diagnosis': '81416', 'idx': 229},
 {'Diagnosis': '2354', 'idx': 230},
 {'Diagnosis': '38589', 'idx': 231},
 {'Diagnosis': '29990', 'idx': 232},
 {'Diagnosis': 'V5410', 'idx': 233},
 {'Diagnosis': '73819', 'idx': 234},
 {'Diagnosis': '3871', 'idx': 235},
 {'Diagnosis': '6012', 'idx': 236},
 {'Diagnosis': '72282', 'idx': 237},
 {'Diagnosis': '74685', 'idx': 238},
 {'Diagnosis': 'E9241', 'idx': 239},
 {'Diagnosis': 'E8509', 'idx': 240},
 {'Diagnosis': '20017', 'idx': 241},
 {'Diagnosis': '5849', 'idx': 242},
 {'Diagnosis': '8300', 'idx': 243},
 {'Diagnosis': '29615', 'idx': 244},
 {'Diagnosis': '2910', 'idx': 245},
 {'Diagnosis': '8483', 'idx': 246},
 {'Diagnosis': 'V425', 'idx': 247},
 {'Diagnosis': '30276', 'idx': 248},
 {'Diagnosis': '36101', 'idx': 249},
 {'Diagnosis': '92619', 'idx': 250},
 {'Diagnosis': '52110', 'idx': 251},
 {'Diagnosis': '8026', 'idx': 252},
 {'Diagnosis': '44421', 'idx': 253},
 {'Diagnosis': '1982', 'idx': 254},
 {'Diagnosis': '5304', 'idx': 255},
 {'Diagnosis': '83314', 'idx': 256},
 {'Diagnosis': 'V147', 'idx': 257},
 {'Diagnosis': '8291', 'idx': 258},
 {'Diagnosis': '80365', 'idx': 259},
 {'Diagnosis': '5258', 'idx': 260},
 {'Diagnosis': '38119', 'idx': 261},
 {'Diagnosis': '36852', 'idx': 262},
 {'Diagnosis': '1598', 'idx': 263},
 {'Diagnosis': 'V5841', 'idx': 264},
 {'Diagnosis': '64101', 'idx': 265},
 {'Diagnosis': '71940', 'idx': 266},
 {'Diagnosis': '6239', 'idx': 267},
 {'Diagnosis': '7483', 'idx': 268},
 {'Diagnosis': '71180', 'idx': 269},
 {'Diagnosis': 'V860', 'idx': 270},
 {'Diagnosis': '85012', 'idx': 271},
 {'Diagnosis': '80094', 'idx': 272},
 {'Diagnosis': '83402', 'idx': 273},
 {'Diagnosis': '80485', 'idx': 274},
 {'Diagnosis': '59371', 'idx': 275},
 {'Diagnosis': '9399', 'idx': 276},
 {'Diagnosis': '41402', 'idx': 277},
 {'Diagnosis': '0302', 'idx': 278},
 {'Diagnosis': '2931', 'idx': 279},
 {'Diagnosis': '80233', 'idx': 280},
 {'Diagnosis': '78903', 'idx': 281},
 {'Diagnosis': '30274', 'idx': 282},
 {'Diagnosis': '7051', 'idx': 283},
 {'Diagnosis': '57510', 'idx': 284},
 {'Diagnosis': '9463', 'idx': 285},
 {'Diagnosis': '3419', 'idx': 286},
 {'Diagnosis': 'V2622', 'idx': 287},
 {'Diagnosis': '65961', 'idx': 288},
 {'Diagnosis': 'E8131', 'idx': 289},
 {'Diagnosis': 'V662', 'idx': 290},
 {'Diagnosis': '5271', 'idx': 291},
 {'Diagnosis': '71513', 'idx': 292},
 {'Diagnosis': '9925', 'idx': 293},
 {'Diagnosis': '9111', 'idx': 294},
 {'Diagnosis': '2229', 'idx': 295},
 {'Diagnosis': '20115', 'idx': 296},
 {'Diagnosis': '2681', 'idx': 297},
 {'Diagnosis': '71815', 'idx': 298},
 {'Diagnosis': '53140', 'idx': 299},
 {'Diagnosis': 'V1242', 'idx': 300},
 {'Diagnosis': '7083', 'idx': 301},
 {'Diagnosis': '73711', 'idx': 302},
 {'Diagnosis': '61181', 'idx': 303},
 {'Diagnosis': '34683', 'idx': 304},
 {'Diagnosis': '5765', 'idx': 305},
 {'Diagnosis': 'V6103', 'idx': 306},
 {'Diagnosis': '11284', 'idx': 307},
 {'Diagnosis': '42979', 'idx': 308},
 {'Diagnosis': '5966', 'idx': 309},
 {'Diagnosis': '80851', 'idx': 310},
 {'Diagnosis': '73344', 'idx': 311},
 {'Diagnosis': 'E8532', 'idx': 312},
 {'Diagnosis': 'V5878', 'idx': 313},
 {'Diagnosis': '4910', 'idx': 314},
 {'Diagnosis': '71116', 'idx': 315},
 {'Diagnosis': 'V1261', 'idx': 316},
 {'Diagnosis': '87264', 'idx': 317},
 {'Diagnosis': 'V631', 'idx': 318},
 {'Diagnosis': 'E9309', 'idx': 319},
 {'Diagnosis': '74782', 'idx': 320},
 {'Diagnosis': '52120', 'idx': 321},
 {'Diagnosis': '3940', 'idx': 322},
 {'Diagnosis': '1920', 'idx': 323},
 {'Diagnosis': '53241', 'idx': 324},
 {'Diagnosis': '37101', 'idx': 325},
 {'Diagnosis': '33905', 'idx': 326},
 {'Diagnosis': '6861', 'idx': 327},
 {'Diagnosis': '60010', 'idx': 328},
 {'Diagnosis': '75520', 'idx': 329},
 {'Diagnosis': '36840', 'idx': 330},
 {'Diagnosis': '73000', 'idx': 331},
 {'Diagnosis': '6942', 'idx': 332},
 {'Diagnosis': '38921', 'idx': 333},
 {'Diagnosis': '29511', 'idx': 334},
 {'Diagnosis': 'V401', 'idx': 335},
 {'Diagnosis': 'V1652', 'idx': 336},
 {'Diagnosis': '0990', 'idx': 337},
 {'Diagnosis': '1140', 'idx': 338},
 {'Diagnosis': '00322', 'idx': 339},
 {'Diagnosis': '9918', 'idx': 340},
 {'Diagnosis': '80600', 'idx': 341},
 {'Diagnosis': '71122', 'idx': 342},
 {'Diagnosis': '5689', 'idx': 343},
 {'Diagnosis': 'E8491', 'idx': 344},
 {'Diagnosis': '72400', 'idx': 345},
 {'Diagnosis': '20243', 'idx': 346},
 {'Diagnosis': '3882', 'idx': 347},
 {'Diagnosis': '11282', 'idx': 348},
 {'Diagnosis': '08240', 'idx': 349},
 {'Diagnosis': '99582', 'idx': 350},
 {'Diagnosis': '29542', 'idx': 351},
 {'Diagnosis': '53321', 'idx': 352},
 {'Diagnosis': 'V524', 'idx': 353},
 {'Diagnosis': '3152', 'idx': 354},
 {'Diagnosis': '8750', 'idx': 355},
 {'Diagnosis': '75679', 'idx': 356},
 {'Diagnosis': '94219', 'idx': 357},
 {'Diagnosis': '5284', 'idx': 358},
 {'Diagnosis': '5671', 'idx': 359},
 {'Diagnosis': '0991', 'idx': 360},
 {'Diagnosis': '47879', 'idx': 361},
 {'Diagnosis': '95901', 'idx': 362},
 {'Diagnosis': '09324', 'idx': 363},
 {'Diagnosis': '71839', 'idx': 364},
 {'Diagnosis': '1640', 'idx': 365},
 {'Diagnosis': '99645', 'idx': 366},
 {'Diagnosis': '11591', 'idx': 367},
 {'Diagnosis': '9642', 'idx': 368},
 {'Diagnosis': '41071', 'idx': 369},
 {'Diagnosis': '80504', 'idx': 370},
 {'Diagnosis': '30571', 'idx': 371},
 {'Diagnosis': '71224', 'idx': 372},
 {'Diagnosis': '38513', 'idx': 373},
 {'Diagnosis': '52561', 'idx': 374},
 {'Diagnosis': '86504', 'idx': 375},
 {'Diagnosis': '3817', 'idx': 376},
 {'Diagnosis': '27701', 'idx': 377},
 {'Diagnosis': '7965', 'idx': 378},
 {'Diagnosis': 'V0262', 'idx': 379},
 {'Diagnosis': '34662', 'idx': 380},
 {'Diagnosis': '20277', 'idx': 381},
 {'Diagnosis': '82101', 'idx': 382},
 {'Diagnosis': '40490', 'idx': 383},
 {'Diagnosis': 'V8522', 'idx': 384},
 {'Diagnosis': '9663', 'idx': 385},
 {'Diagnosis': '4552', 'idx': 386},
 {'Diagnosis': '2967', 'idx': 387},
 {'Diagnosis': '1482', 'idx': 388},
 {'Diagnosis': 'V2389', 'idx': 389},
 {'Diagnosis': '80459', 'idx': 390},
 {'Diagnosis': '90221', 'idx': 391},
 {'Diagnosis': '82011', 'idx': 392},
 {'Diagnosis': '7917', 'idx': 393},
 {'Diagnosis': '9975', 'idx': 394},
 {'Diagnosis': '45184', 'idx': 395},
 {'Diagnosis': 'E9384', 'idx': 396},
 {'Diagnosis': '3591', 'idx': 397},
 {'Diagnosis': '74449', 'idx': 398},
 {'Diagnosis': '9640', 'idx': 399},
 {'Diagnosis': '9709', 'idx': 400},
 {'Diagnosis': '20295', 'idx': 401},
 {'Diagnosis': '37871', 'idx': 402},
 {'Diagnosis': '5439', 'idx': 403},
 {'Diagnosis': '4370', 'idx': 404},
 {'Diagnosis': 'E9460', 'idx': 405},
 {'Diagnosis': 'V0759', 'idx': 406},
 {'Diagnosis': '99586', 'idx': 407},
 {'Diagnosis': '20173', 'idx': 408},
 {'Diagnosis': '52340', 'idx': 409},
 {'Diagnosis': '32719', 'idx': 410},
 {'Diagnosis': '20900', 'idx': 411},
 {'Diagnosis': '9053', 'idx': 412},
 {'Diagnosis': 'V8525', 'idx': 413},
 {'Diagnosis': '80507', 'idx': 414},
 {'Diagnosis': '7233', 'idx': 415},
 {'Diagnosis': '7131', 'idx': 416},
 {'Diagnosis': '7230', 'idx': 417},
 {'Diagnosis': '80238', 'idx': 418},
 {'Diagnosis': '7828', 'idx': 419},
 {'Diagnosis': '56081', 'idx': 420},
 {'Diagnosis': '3579', 'idx': 421},
 {'Diagnosis': '43850', 'idx': 422},
 {'Diagnosis': '20256', 'idx': 423},
 {'Diagnosis': '79505', 'idx': 424},
 {'Diagnosis': '53641', 'idx': 425},
 {'Diagnosis': '01126', 'idx': 426},
 {'Diagnosis': '71854', 'idx': 427},
 {'Diagnosis': 'V146', 'idx': 428},
 {'Diagnosis': '37762', 'idx': 429},
 {'Diagnosis': '36019', 'idx': 430},
 {'Diagnosis': '80089', 'idx': 431},
 {'Diagnosis': '94896', 'idx': 432},
 {'Diagnosis': '7475', 'idx': 433},
 {'Diagnosis': '2858', 'idx': 434},
 {'Diagnosis': '1890', 'idx': 435},
 {'Diagnosis': '1728', 'idx': 436},
 {'Diagnosis': 'V5874', 'idx': 437},
 {'Diagnosis': '8270', 'idx': 438},
 {'Diagnosis': '0270', 'idx': 439},
 {'Diagnosis': '3124', 'idx': 440},
 {'Diagnosis': 'E9802', 'idx': 441},
 {'Diagnosis': '83950', 'idx': 442},
 {'Diagnosis': 'V5413', 'idx': 443},
 {'Diagnosis': '87351', 'idx': 444},
 {'Diagnosis': 'V5869', 'idx': 445},
 {'Diagnosis': '82019', 'idx': 446},
 {'Diagnosis': '6100', 'idx': 447},
 {'Diagnosis': '9927', 'idx': 448},
 {'Diagnosis': '64702', 'idx': 449},
 {'Diagnosis': '86356', 'idx': 450},
 {'Diagnosis': 'V7641', 'idx': 451},
 {'Diagnosis': '30279', 'idx': 452},
 {'Diagnosis': '38845', 'idx': 453},
 {'Diagnosis': 'V5721', 'idx': 454},
 {'Diagnosis': '5253', 'idx': 455},
 {'Diagnosis': '86514', 'idx': 456},
 {'Diagnosis': 'V8904', 'idx': 457},
 {'Diagnosis': 'E8147', 'idx': 458},
 {'Diagnosis': '52689', 'idx': 459},
 {'Diagnosis': '81311', 'idx': 460},
 {'Diagnosis': '1143', 'idx': 461},
 {'Diagnosis': '38532', 'idx': 462},
 {'Diagnosis': 'V400', 'idx': 463},
 {'Diagnosis': '34581', 'idx': 464},
 {'Diagnosis': '85135', 'idx': 465},
 {'Diagnosis': '9786', 'idx': 466},
 {'Diagnosis': '36589', 'idx': 467},
 {'Diagnosis': 'E9682', 'idx': 468},
 {'Diagnosis': '9083', 'idx': 469},
 {'Diagnosis': '74312', 'idx': 470},
 {'Diagnosis': '20200', 'idx': 471},
 {'Diagnosis': '36923', 'idx': 472},
 {'Diagnosis': '86342', 'idx': 473},
 {'Diagnosis': '73719', 'idx': 474},
 {'Diagnosis': '0739', 'idx': 475},
 {'Diagnosis': '52400', 'idx': 476},
 {'Diagnosis': '73012', 'idx': 477},
 {'Diagnosis': '58281', 'idx': 478},
 {'Diagnosis': '37541', 'idx': 479},
 {'Diagnosis': '8250', 'idx': 480},
 {'Diagnosis': '3379', 'idx': 481},
 {'Diagnosis': '64303', 'idx': 482},
 {'Diagnosis': '9159', 'idx': 483},
 {'Diagnosis': '87333', 'idx': 484},
 {'Diagnosis': '34570', 'idx': 485},
 {'Diagnosis': '3779', 'idx': 486},
 {'Diagnosis': '9511', 'idx': 487},
 {'Diagnosis': '9009', 'idx': 488},
 {'Diagnosis': '4467', 'idx': 489},
 {'Diagnosis': '99699', 'idx': 490},
 {'Diagnosis': '1729', 'idx': 491},
 {'Diagnosis': '69554', 'idx': 492},
 {'Diagnosis': '56984', 'idx': 493},
 {'Diagnosis': '52325', 'idx': 494},
 {'Diagnosis': 'E8790', 'idx': 495},
 {'Diagnosis': '31201', 'idx': 496},
 {'Diagnosis': '84200', 'idx': 497},
 {'Diagnosis': '5935', 'idx': 498},
 {'Diagnosis': '04523', 'idx': 499},
 {'Diagnosis': '4780', 'idx': 500},
 {'Diagnosis': '35571', 'idx': 501},
 {'Diagnosis': '81415', 'idx': 502},
 {'Diagnosis': 'V291', 'idx': 503},
 {'Diagnosis': '8861', 'idx': 504},
 {'Diagnosis': '8760', 'idx': 505},
 {'Diagnosis': '88020', 'idx': 506},
 {'Diagnosis': '1742', 'idx': 507},
 {'Diagnosis': '9608', 'idx': 508},
 {'Diagnosis': '94426', 'idx': 509},
 {'Diagnosis': 'V5832', 'idx': 510},
 {'Diagnosis': '73609', 'idx': 511},
 {'Diagnosis': '71125', 'idx': 512},
 {'Diagnosis': '05311', 'idx': 513},
 {'Diagnosis': '31323', 'idx': 514},
 {'Diagnosis': '81380', 'idx': 515},
 {'Diagnosis': '74860', 'idx': 516},
 {'Diagnosis': '9163', 'idx': 517},
 {'Diagnosis': 'V1069', 'idx': 518},
 {'Diagnosis': '5780', 'idx': 519},
 {'Diagnosis': '71648', 'idx': 520},
 {'Diagnosis': '5511', 'idx': 521},
 {'Diagnosis': '80230', 'idx': 522},
 {'Diagnosis': '87322', 'idx': 523},
 {'Diagnosis': '29551', 'idx': 524},
 {'Diagnosis': '20012', 'idx': 525},
 {'Diagnosis': '1623', 'idx': 526},
 {'Diagnosis': '71824', 'idx': 527},
 {'Diagnosis': '94304', 'idx': 528},
 {'Diagnosis': 'V554', 'idx': 529},
 {'Diagnosis': '30410', 'idx': 530},
 {'Diagnosis': 'V133', 'idx': 531},
 {'Diagnosis': '64780', 'idx': 532},
 {'Diagnosis': '0399', 'idx': 533},
 {'Diagnosis': '80236', 'idx': 534},
 {'Diagnosis': '85259', 'idx': 535},
 {'Diagnosis': '9516', 'idx': 536},
 {'Diagnosis': 'E9203', 'idx': 537},
 {'Diagnosis': '73340', 'idx': 538},
 {'Diagnosis': '85120', 'idx': 539},
 {'Diagnosis': '5902', 'idx': 540},
 {'Diagnosis': '9971', 'idx': 541},
 {'Diagnosis': '2254', 'idx': 542},
 {'Diagnosis': '24900', 'idx': 543},
 {'Diagnosis': 'V429', 'idx': 544},
 {'Diagnosis': '9696', 'idx': 545},
 {'Diagnosis': 'V111', 'idx': 546},
 {'Diagnosis': '82332', 'idx': 547},
 {'Diagnosis': '3350', 'idx': 548},

In [27]:
query="""CREATE CONSTRAINT ON (n:Diagnosis) ASSERT n.idx IS UNIQUE"""

In [28]:
db.run(query)

(No data)

In [29]:
query = """
    UNWIND $ds AS d
    MERGE (b:Diagnosis {idx: d.idx, Type: d.Diagnosis})
        """
db.run(query, {"ds":ds})

(No data)